/*---------------------OTHER STYLES-----------------------------------------*/
@font-face {
  font-family: 'BentonSans-Regular';
  src: url('../fonts/BentonSans-Regular_gdi.eot');
  src: url('../fonts/BentonSans-Regular_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/BentonSans-Regular_gdi.woff') format('woff'), url('../fonts/BentonSans-Regular_gdi.ttf') format('truetype'), url('../fonts/BentonSans-Regular_gdi.otf') format('opentype'), url('../fonts/BentonSans-Regular_gdi.svg#BentonSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-221A;
}
@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.otf') format('opentype'), url('../fonts/glyphicons-halflings-regular.svg#BentonSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-221A;
}
@font-face {
  font-family: 'Miller-TextBold';
  src: url('../fonts/Miller-TextBold_gdi.eot');
  src: url('../fonts/Miller-TextBold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Miller-TextBold_gdi.woff') format('woff'), url('../fonts/Miller-TextBold_gdi.ttf') format('truetype'), url('../fonts/Miller-TextBold_gdi.otf') format('opentype'), url('../fonts/Miller-TextBold_gdi.svg#Miller-TextBold') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'BentonSansComp-Bold';
  src: url('../fonts/BentonSansComp-Bold_gdi.eot');
  src: url('../fonts/BentonSansComp-Bold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/BentonSansComp-Bold_gdi.woff') format('woff'), url('../fonts/BentonSansComp-Bold_gdi.ttf') format('truetype'), url('../fonts/BentonSansComp-Bold_gdi.otf') format('opentype'), url('../fonts/BentonSansComp-Bold_gdi.svg#BentonSansComp-Bold') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-221A;
}
@font-face {
  font-family: 'BentonSans-Bold';
  src: url('../fonts/BentonSans-Bold_gdi.eot');
  src: url('../fonts/BentonSans-Bold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/BentonSans-Bold_gdi.woff') format('woff'), url('../fonts/BentonSans-Bold_gdi.ttf') format('truetype'), url('../fonts/BentonSans-Bold_gdi.otf') format('opentype'), url('../fonts/BentonSans-Bold_gdi.svg#BentonSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'Miller-TextBold';
  src: url('../fonts/Miller-TextBold_gdi.eot');
  src: url('../fonts/Miller-TextBold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Miller-TextBold_gdi.woff') format('woff'), url('../fonts/Miller-TextBold_gdi.ttf') format('truetype'), url('../fonts/Miller-TextBold_gdi.otf') format('opentype'), url('../fonts/Miller-TextBold_gdi.svg#Miller-TextBold') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'Miller-Display';
  src: url('../fonts/Miller-Display_gdi.eot');
  src: url('../fonts/Miller-Display_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Miller-Display_gdi.woff') format('woff'), url('../fonts/Miller-Display_gdi.ttf') format('truetype'), url('../fonts/Miller-Display_gdi.otf') format('opentype'), url('../fonts/Miller-Display_gdi.svg#Miller-Display') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2260;
}
@font-face {
  font-family: 'Miller-Text';
  src: url('../fonts/Miller-Text_gdi.eot');
  src: url('../fonts/Miller-Text_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Miller-Text_gdi.woff') format('woff'), url('../fonts/Miller-Text_gdi.ttf') format('truetype'), url('../fonts/Miller-Text_gdi.otf') format('opentype'), url('../fonts/Miller-Text_gdi.svg#Miller-Text') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
/*------------------------------------BASIC STYLE---------------------------*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: 'BentonSans-Regular';
}
p,
a,
li {
  color: #222222;
  font-family: 'BentonSans-Regular';
  font-size: 14px;
  line-height: 27px;
}
h3 {
  color: #222222;
  text-align: center;
  font-size: 48px;
  padding-bottom: 45px;
}
h5 {
  color: #222222;
  text-align: center;
}
body {
  font-size: 14px;
  font-family: 'BentonSans-Regular';
}
a:focus {
  outline: none;
}
a:hover {
  color: #222222;
}
/* Placeholder Styling */
::-webkit-input-placeholder {
  color: #999999;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
::-moz-placeholder {
  color: #999999;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
::-o-placeholder {
  color: #999999;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
:-ms-input-placeholder {
  color: #999999;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
input:-moz-placeholder {
  color: #999999;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
/*------------------------------------- HEADER -----------------------------*/
header {
  position: relative;
  z-index: 10;
}
header .container:first-child {
  max-width: 1498px;
  width: 100%;
}
header .container .row:first-child {
  background: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.nav-tabs > li {
  margin-bottom: -2px;
  margin-top: -6px;
}
.header-top {
  background: url(../uploads/main.jpg) no-repeat center top;
  background-size: cover;
  min-height: 700px;
  position: relative;
}
.header-top .bg-box {
  background-color: rgba(0, 0, 0, 0.4);
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;
}
.bs-mijn .header-top {
  background: url(../uploads/images.jpg) no-repeat center top;
  background-size: cover;
  min-height: 700px;
  position: relative;
}
.overzicht .header-top {
  min-height: 522px;
}
.overzicht .search-box {
  margin-top: 90px;
}
.lijstje .header-top {
  background: url(../uploads/products.png) no-repeat center top;
  background-size: cover;
  min-height: 518px;
  position: relative;
}
.bs-artikel .header-top {
  background: url(../images/tomato-banner.jpg) no-repeat center top;
  background-size: cover;
  min-height: 518px;
  position: relative;
}
.bs-artikel2 .header-top {
  background: url(../uploads/imgarticle2.jpg) no-repeat center top;
  background-size: cover;
  min-height: 518px;
  position: relative;
}
.bs-recepe .header-top {
  background: url(../uploads/recepe-image.jpg) no-repeat center top;
  background-size: cover;
  min-height: 768px;
  position: relative;
}
.bs-recepe .tab-section ul.nav-tabs li {
  max-width: 49%;
}
.header-theme {
  background: url(../uploads/rhema.jpg) no-repeat center top;
  background-size: cover;
}
.logo {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
  font-family: 'BentonSans-Bold';
}
.logo:hover {
  text-decoration: none;
  color: #000000;
}
.header-right {
  padding-top: 8px;
  margin-right: 10px;
  float: right;
}
.header-right .login-form {
  float: left;
  margin-right: 50px;
  position: relative;
}
.header-right .login-form .hide-login {
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  width: 270px;
  box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.5), 2px 1px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -40px;
  top: 60px;
  z-index: 1;
  visibility: hidden;
  height: auto;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.header-right .login-form .hide-login .triangle {
  height: 10px;
  width: 10px;
  position: absolute;
  left: 105px;
  top: -24px;
  display: block;
  z-index: 1;
}
.header-right .login-form .hide-login .triangle:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 27px;
  background: #ffffff;
  transform: rotate(45deg);
  top: 20px;
  left: 25px;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}
.header-right .login-form .hide-login ul {
  width: 100%;
  background: #ffffff;
  padding: 28px 0;
  position: relative;
  z-index: 10;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.header-right .login-form .hide-login ul li {
  border-bottom: 1px solid #222222;
  text-align: left;
}
.header-right .login-form .hide-login ul li:first-child {
  border-top: 1px solid #222222;
}
.header-right .login-form .hide-login ul li a {
  color: #202020;
  padding: 15px 20px;
  font-family: 'BentonSans-Bold';
  display: block;
}
.header-right .login-form .hide-login ul li a:hover {
  background: #f5f5f5;
  text-decoration: none;
}
.header-right .login-form span {
  font-family: 'BentonSans-Bold';
  text-transform: uppercase;
  cursor: pointer;
}
.header-right .login-form span .lock-icon {
  background: url(../images/lock.png) no-repeat;
  width: 18px;
  margin-right: 10px;
  height: 22px;
  vertical-align: sub;
  display: inline-block;
}
.header-right .login-form:hover span {
  color: #999999;
}
.header-right .login-form:hover span .lock-icon {
  background: url(../images/lock-hover.png);
}
.header-right .hover .hide-login {
  opacity: 1;
  z-index: 100;
  height: auto;
  visibility: visible;
}
.header-right .top-search {
  font-family: 'BentonSans-Bold';
  text-transform: uppercase;
  float: left;
  margin-right: 50px;
  position: relative;
}
.header-right .top-search input[type="text"] {
  border: 0;
  height: 40px;
  padding: 0 112px 0 10px;
  color: #999999;
  background: #f5f5f5;
  font-family: 'BentonSans-Regular';
  width: 400px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: -8px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  overflow: hidden;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.header-right .top-search button {
  cursor: pointer;
  border: 0;
  background: transparent;
  position: relative;
  z-index: 100;
  text-transform: uppercase;
}
.header-right .top-search button:hover {
  color: #222222;
}
.header-right .top-search button:focus {
  outline: none;
  border: 0;
}
.header-right .active input[type="text"] {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  overflow: visible;
}
.search-icon {
  font-size: 14px;
  color: #222222;
  margin-right: 10px;
  background: url(../images/search.png) no-repeat;
  height: 21px;
  display: inline-block;
  width: 21px;
  vertical-align: sub;
}
.fa.menu-icon {
  font-size: 20px;
  margin-right: 10px;
  vertical-align: top;
  display: inline-block;
}
.top-bar {
  float: left;
}
.top-bar .caret {
  display: none;
}
.top-bar .navbar-nav > li > a {
  padding: 0;
  font-family: 'BentonSans-Bold';
  text-transform: uppercase;
  font-size: 14px;
  color: #222222;
}
.top-bar .navbar-nav > li > a:hover,
.top-bar .navbar-nav > li > a:focus,
.top-bar .navbar-nav > li > a:active {
  background: #fff;
  color: #999999;
}
.search-box {
  max-width: 770px;
  margin: 150px auto 0;
  position: relative;
  z-index: 9;
  text-align: center;
}
.search-box .navbar-form .input-group {
  width: 100%;
}
.search-box .show-results {
  position: absolute;
  left: 0;
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
  z-index: 100;
  text-align: left;
}
.search-box .show-results ul li {
  border-top: 1px solid #000000;
}
.search-box .show-results ul li a {
  padding: 15px;
  background: #f5f5f5;
  display: block;
  font-size: 20px;
}
.search-box .show-results ul li a:hover {
  background: #ffffff;
  color: #222222;
  text-decoration: none;
}
.search-box i {
  color: #ffffff;
  font-size: 44px;
  font-family: 'Miller-Display';
  font-style: italic;
}
.search-box .title-header {
  font-size: 72px;
  color: #ffffff;
  padding-bottom: 22px;
  font-weight: bold;
}
.search-box .input-group-btn {
  position: absolute;
  right: 0;
}
.search-box .input-group .form-control,
.search-box .input-group-addon,
.search-box .input-group-btn {
  display: block;
}
.search-box .navbar-form {
  background: transparent;
}
.search-box .navbar-form .form-control {
  height: 64px;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  color: #999999;
  font-size: 18px;
  font-family: 'BentonSans-Regular';
  padding: 0 20px;
}
.search-box .navbar-form .btn-default {
  border: none;
  border-radius: 0;
  height: 64px;
}
.search-box .navbar-form .btn-default:hover {
  background: #ffffff;
}
/*-------------------------Hide Menu--------------------*/
#menuModal .top-menu {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
  display: block;
}
#menuModal .top-menu h5 {
  font-size: 18px;
  text-align: left;
  font-family: 'BentonSans-Bold';
  padding-bottom: 11px;
}
#menuModal .top-menu .menu-header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #000;
  position: relative;
}
#menuModal .top-menu .row:first-child {
  padding-top: 0!important;
  margin-top: 0!important;
}
.list-box {
  margin-bottom: 50px;
}
.list-box h5 {
  font-size: 18px;
  text-align: left;
  font-family: 'BentonSans-Bold';
  padding-bottom: 11px;
}
.list-box ul {
  padding-bottom: 20px;
}
.list-box ul li a {
  display: block;
  border-bottom: 1px solid #b2b2b2;
  padding: 12px 0;
  position: relative;
  color: #212121;
}
.list-box ul li a:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 7px;
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 5px;
  border-color: transparent transparent transparent #999999;
}
.list-box ul li a:hover {
  text-decoration: none;
  color: #212121;
  font-weight: bold;
}
.list-box ul li:first-child a {
  border-top: 1px solid #b2b2b2;
}
.list-box .adder-btn {
  font-family: 'BentonSans-Bold';
}
.list-box .adder-btn:hover {
  color: #222222;
  border-bottom: 1px solid #999999;
  text-decoration: none;
}
.menu-sidebar {
  background: url(../images/garlic.png) no-repeat center bottom #f5f5f5;
  padding-top: 146px;
  padding-bottom: 50px;
}
.menu-sidebar .menu-sidebar-inner {
  max-width: 240px;
  margin: 0 30px;
  width: 100%;
  float: right;
}
.menu-sidebar ul li {
  border-bottom: 1px solid #999999;
}
.menu-sidebar ul li:first-child {
  border-top: 1px solid #999999;
}
.menu-sidebar ul li a {
  font-size: 14px;
  padding: 12px 0;
  position: relative;
  display: block;
  color: #212121;
}
.menu-sidebar ul li a:hover {
  text-decoration: none;
  font-weight: bold;
}
.menu-sidebar ul li a:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 7px;
  content: " ";
  position: absolute;
  top: 18px;
  right: 10px;
  border-color: transparent transparent transparent #999999;
}
.top-menu-content {
  max-width: 780px;
  padding-top: 50px;
  padding-left: 15px;
}
.top-menu-content .title-box {
  margin-bottom: 40px;
}
.top-menu-content .title-box .btn-submit {
  margin-top: 0;
}
.top-menu-content .title-box h3 {
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  display: inline-block;
  padding-bottom: 0;
  padding-top: 10px;
}
.top-menu-content .title-box a {
  float: right;
  background: #222222;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  padding: 14px 14px 14px 34px;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  max-width: 204px;
  width: 100%;
  text-align: left;
}
.top-menu-content .title-box a i {
  display: inline-block;
  float: right;
  padding-top: 6px;
  text-align: right;
}
.top-menu-content .title-box a:hover {
  text-decoration: none;
}
.row:first-child {
  margin: 0;
}
/**----Tabs ----*/
.tab-section {
  position: relative;
  float: left;
  width: 100%;
}
.tab-section .top-tabs {
  background: rgba(0, 0, 0, 0.4);
  margin-top: -56px;
  position: relative;
  z-index: 1;
}
.tab-section .stars-box span {
  display: inline-block;
  background: url(../images/star-black.png) no-repeat;
  width: 22px;
  height: 20px;
  margin-left: 4px;
}
.tab-section .stars-box span:first-child {
  margin-left: 0;
}
.tab-section ul.nav-tabs {
  text-align: center;
  border: 0;
}
.tab-section ul.nav-tabs li {
  display: inline-block;
  float: none;
  max-width: 285px;
  width: 100%;
}
.tab-section ul.nav-tabs li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 18px 0;
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  font-family: 'BentonSans-Regular';
}
.tab-section ul.nav-tabs li a:hover {
  background: #ffffff;
  color: #222222;
  border: 1px solid #ffffff;
}
.tab-section ul.nav-tabs .active a {
  color: #222222;
  background: #ffffff;
  border: 1px solid #ffffff;
}
.tab-section .tab-pane {
  padding: 85px 0;
}
.one-dish {
  margin-bottom: 40px;
}
.one-dish p {
  font-family: 'BentonSans-Bold';
  line-height: 27px;
  font-size: 18px;
}
.one-dish a {
  margin-bottom: 20px;
  display: block;
  position: relative;
}
.one-dish a img {
  width: 100%;
}
.one-dish a .check-icon {
  background: url(../images/check.png) no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}
.one-dish a .hide-dish {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 17px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  cursor: pointer;
}
.one-dish a .hide-dish .star {
  background: url(../images/star.png) no-repeat;
  width: 17px;
  height: 16px;
  display: inline-block;
  margin-right: 3px;
}
.one-dish a .hide-dish .time-dish {
  color: #ffffff;
  font-size: 16px;
  float: right;
  font-family: 'BentonSans-Bold';
  display: inline-block;
}
.one-dish a:hover .hide-dish {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.one-dish p {
  font-family: 'BentonSans-Bold';
  line-height: 27px;
}
.rating-black {
  text-align: center;
  float: none;
}
.rating-black img {
  width: auto;
}
.recepten-section {
  position: relative;
  clear: both;
  float: none;
}
.recepten-section h5 {
  font-size: 14px;
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 30px;
  position: relative;
  background: #ffffff;
  z-index: 10;
  margin: 0 auto;
  font-family: 'BentonSans-Bold';
}
.recepten-section .recepten-section-title {
  position: relative;
  text-align: center;
  margin-bottom: 70px;
}
.recepten-section .recepten-section-title:after {
  border-top: 1px solid #000;
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  top: 50%;
  content: " ";
}
.one-recepten-box {
  float: left;
  width: 50%;
  margin-bottom: 30px;
}
.one-recepten-box:first-child {
  margin-right: 2%;
  width: 48%;
}
.one-recepten-box .one-recepten {
  height: 100%;
}
.one-recepten-box .one-recepten img {
  float: left;
  width: 270px;
  position: relative;
  height: auto;
  z-index: 10;
}
.one-recepten-box .one-recepten .one-recepten-text {
  background: #ff8c19;
  padding: 30px 30px 30px 30px;
  margin-left: 270px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
.one-recepten-box .one-recepten .one-recepten-text h4 {
  font-family: 'BentonSans-Bold';
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 0!important;
}
.one-recepten-box .one-recepten .one-recepten-text p {
  color: #ffffff;
  font-size: 22px;
  line-height: 33px;
}
.one-recepten-box .one-recepten .one-recepten-text .more-link {
  position: absolute;
  right: 0;
  text-align: center;
  color: #ffffff;
  font-family: 'BentonSans-Bold';
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #cc7014;
}
.one-recepten-box .one-recepten .one-recepten-text .more-link:hover {
  text-decoration: none;
}
.one-recepten-box:first-child .one-recepten-text {
  background: #197897;
}
.one-recepten-box:first-child .one-recepten-text .more-link {
  background: #146079;
}
.popular-section {
  background: #f5f5f5;
  padding: 40px 0;
  clear: both;
}
.popular-section h3 {
  font-family: 'Miller-Text';
  font-size: 40px;
}
.popular-section h3 b {
  font-family: 'Miller-TextBold';
}
.big-image-box {
  margin-bottom: 30px;
  background: url(../uploads/imga.jpg) no-repeat;
  width: 100%;
  padding: 60px;
}
.recepe-one {
  background: #ffffff;
  padding: 35px 50px;
  position: relative;
  max-width: 425px;
  text-align: center;
}
.recepe-one h6 {
  text-transform: uppercase;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 16px;
  font-family: 'BentonSansComp-Bold';
}
.recepe-one h4 {
  font-size: 36px;
  color: #212121;
  line-height: 39px;
  text-align: center;
  padding: 10px 0 30px 0;
  font-family: 'Miller-TextBold';
}
.party-box {
  margin-bottom: 30px;
  text-align: center;
}
.party-box img {
  width: 100%;
}
.party-box .party-box-text {
  padding: 24px 20px 90px 20px;
  position: relative;
}
.party-box .party-box-text .link {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  padding: 10px 5px;
  font-family: 'BentonSans-Bold';
}
.party-box .party-box-text .link:hover {
  text-decoration: none;
}
.party-box .party-box-text h4 {
  font-size: 22px;
  color: #ffffff;
  font-family: 'BentonSans-Bold';
  padding-bottom: 10px;
}
.party-box .party-box-text p {
  color: #ffffff;
  font-size: 22px;
}
.party-box .red {
  background: #ff3b3b;
}
.party-box .red .link {
  background: #cc2f2f;
}
.party-box .orange {
  background: #ff8c19;
}
.party-box .orange .link {
  background: #cc7014;
}
.party-box .green {
  background: #19ba69;
}
.party-box .green .link {
  background: #149554;
}
.party-box .purple {
  background: #7b19dd;
}
.party-box .purple .link {
  background: #6214b1;
}
.product-line {
  padding-top: 50px;
  padding-bottom: 50px;
}
.one-product {
  background: #fff;
  padding: 7px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.one-product .price {
  float: right;
  padding: 10px 0;
}
.one-product img {
  width: 100%;
}
.one-product h4 {
  border: 3px solid #000;
  font-size: 11px;
  font-family: 'BentonSans-Bold';
  padding: 2px;
  text-align: center;
  text-transform: uppercase;
}
.one-product h4.red {
  background: #e94e4d;
  color: #ffffff;
  border-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  -webkit-box-shadow: -1px 2px 1px #ababab;
  -moz-box-shadow: -1px 2px 1px #ababab;
  box-shadow: -1px 2px 1px #ababab;
}
.one-product h3 {
  font-family: 'BentonSans-Bold';
  color: #007855;
  font-size: 14px;
  text-align: left;
  padding-bottom: 3px;
}
.one-product p {
  color: #007855;
  font-size: 12px;
}
.one-product .btn-product {
  background: #9db019;
  padding: 11px 0;
  width: 100%;
  display: block;
  color: #ffffff;
  font-family: 'BentonSans-Bold';
  clear: both;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
}
.one-product .btn-product:hover {
  text-decoration: none;
  background: #007256;
}
.hot-box .hot-box-img {
  position: relative;
  padding: 50px;
  margin-bottom: 23px;
}
.hot-box .hot-box-img img {
  width: 100%;
}
.hot-box .hot-box-img h4 {
  background: #9db019;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px;
  font-family: 'BentonSans-Bold';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
}
.hot-box .hot-box-img .hot-price {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
}
.hot-box p {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  font-family: 'BentonSans-Regular';
  color: #222222;
  padding-bottom: 70px;
}
.hot-box .btn-hot-product {
  background: transparent;
  padding: 10px 0;
  font-size: 12px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #222222;
  width: 100%;
  display: block;
  font-family: 'BentonSans-Bold';
}
.hot-box .btn-hot-product:hover {
  text-decoration: none;
  color: #999999;
}
.special-list {
  padding-top: 50px;
}
.one-recepten-box .one-recepten-color .one-recepten-text .more-link {
  text-align: right;
}
.one-recepten-box:first-child .one-recepten-color .one-recepten-text {
  background: #00b259;
}
.one-recepten-box:first-child .one-recepten-color .one-recepten-text .more-link {
  background: #149554;
}
.one-recepten-box:first-child .one-recepten-color .one-recepten-text .more-link:hover {
  text-decoration: none;
  background: #149554;
}
.one-recepten-box:last-child .one-recepten-color .one-recepten-text {
  background: #00a3d9;
}
.one-recepten-box:last-child .one-recepten-color .one-recepten-text .more-link {
  background: #197897;
}
.one-recepten-box:last-child .one-recepten-color .one-recepten-text .more-link:hover {
  background: #197897;
  text-decoration: none;
}
.tab-special .tab-pane {
  padding: 0 0 30px 0;
}
.tab-special .tab-pane h3.title-page {
  font-family: 'BentonSans-Bold';
}
.other-box {
  position: relative;
}
.other-box .half-one img {
  width: 100%;
}
.half-tomato {
  background: url(../images/half-tomato.jpg) no-repeat;
  width: 132px;
  height: 253px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}
.de-tomato {
  padding-top: 50px;
  position: relative;
}
.de-tomato .tomato {
  max-height: 450px;
}
.de-tomato .de-box {
  max-width: 498px;
}
.de-tomato .de-box h2 {
  font-size: 72px;
  font-family: Miller-TextBold;
  font-weight: bold;
  padding-bottom: 15px;
}
.de-tomato .de-box i {
  font-style: italic;
  font-size: 44px;
  padding-bottom: 20px;
  font-family: 'Miller-Text';
  vertical-align: sub;
}
.de-tomato .de-box p {
  font-size: 20px;
  font-family: 'Miller-Text';
  line-height: 32px;
  padding-bottom: 30px;
}
.de-tomato .de-box a {
  font-size: 14px;
  color: #212121;
  font-family: 'BentonSans-Bold';
  text-decoration: none;
  border-bottom: 1px solid #999999;
}
.de-tomato .de-box a:hover {
  text-decoration: none;
}
.olive-section h6 {
  font-size: 14px;
  color: #999999;
}
.olive-section .olive-inner {
  padding-top: 40px;
  padding-bottom: 40px;
}
.olive-section .olive-inner img {
  width: auto;
}
.olive-section .olive-inner .olive-box .olive-box-text {
  padding-left: 20px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: relative;
  top: 50%;
  max-width: 450px;
}
.olive-section .olive-inner .olive-box .olive-box-text h3 {
  font-size: 38px;
  text-align: left;
  padding-bottom: 10px;
  font-family: 'Miller-Text';
}
.olive-section .olive-inner .olive-box .olive-box-text p {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 32px;
  font-family: 'Miller-Text';
}
.olive-section .olive-inner .olive-box .olive-box-text a {
  font-size: 14px;
  color: #212121;
  font-family: 'BentonSans-Bold';
  text-decoration: none;
  border-bottom: 1px solid #999999;
}
.olive-section .olive-inner .olive-box .olive-box-text a:hover {
  text-decoration: none;
}
/*---------------------------------FOOTER----------------------------------------- */
.slider-logo {
  padding: 40px 0;
}
.slider-logo img {
  width: auto;
  margin: 0 auto;
}
.slider-logo h5 {
  padding-bottom: 70px;
}
.social-line {
  background: #222222;
  padding: 30px 0;
  text-align: center;
}
.social-line li {
  display: inline-block;
  padding: 0 20px;
}
.social-line li a .fa {
  color: #999999;
  font-size: 20px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.social-line li a .fa:hover {
  color: #ffffff;
}
.footer-menu .container {
  border-top: 1px solid #000000;
  padding-top: 70px;
  padding-bottom: 100px;
}
.footer-menu .one-box {
  float: left;
  width: 20%;
}
.footer-menu .one-box h4 {
  font-size: 14px;
  margin-bottom: 27px;
  font-family: 'BentonSans-Bold';
}
.footer-menu .one-box li {
  padding-bottom: 15px;
}
.footer-menu .one-box li a {
  color: #8c8c8c;
}
/*----------------------BS THEMA----------------------------*/
.home .tab-section ul.nav-tabs li {
  width: 33%;
}
.padd-top {
  padding-top: 70px;
}
.text-box {
  max-width: 770px;
  text-align: center;
  margin: 200px auto 0;
  position: relative;
}
.text-box h2 {
  font-size: 60px;
  color: #ffffff;
  font-family: 'Miller-TextBold';
}
.text-box p {
  font-size: 22px;
  color: #ffffff;
}
header .row {
  position: relative;
}
.sidebar-left h5 {
  text-align: left;
  font-size: 26px;
  color: #000;
  padding-top: 100px;
  padding-bottom: 12px;
}
.sidebar-left p {
  font-size: 18px;
  color: #000000;
  padding-bottom: 0;
}
.sidebar-left ul li {
  border-bottom: 1px solid #000;
}
.sidebar-left ul li:first-child {
  border-top: 1px solid #000;
}
.sidebar-left ul li a {
  font-size: 14px;
  padding: 16px 0;
  position: relative;
  display: block;
  color: #212121;
}
.sidebar-left ul li a:hover {
  text-decoration: none;
  font-weight: bold;
}
.sidebar-left ul li a:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 7px;
  content: " ";
  position: absolute;
  top: 18px;
  right: 10px;
  border-color: transparent transparent transparent #212121;
}
.bs-thema .tab-section ul.nav-tabs li {
  max-width: 19%;
}
.bs-thema .tab-section {
  border-bottom: 1px solid #000;
}
.bs-thema .marker {
  background: url(../images/mark.png) no-repeat;
  width: 252px;
  height: 251px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.bs-thema .sidebar-left h5 {
  padding-top: 150px ;
}
.one-block {
  position: relative;
  margin-bottom: 60px;
}
.one-block .time-icon {
  position: absolute;
  top: 17px;
  right: 10px;
  display: block;
  background: url(../images/done-icon.png) no-repeat;
  width: 50px;
  height: 50px;
  z-index: 10;
}
.one-block img {
  margin-bottom: 20px;
  width: 100%;
}
.one-block a {
  font-family: 'BentonSans-Bold';
  font-size: 18px;
}
.one-block a:hover {
  text-decoration: underline;
}
.all-link {
  font-size: 14px;
  color: #222222;
}
.all-link i {
  font-size: 30px;
  margin-left: 16px;
  vertical-align: middle;
}
.all-link:hover {
  color: #222222;
  text-decoration: none;
}
.slick-list {
  margin-bottom: 40px;
}
.slick-dots {
  bottom: -60px;
}
.height-auto .half-block {
  width: 48%;
  height: 100%;
  margin-right: 5%;
  float: left;
}
.height-auto .beer-box {
  float: left;
  width: 47%;
  min-height: 570px;
}
.other-box {
  padding: 60px 0;
  clear: both;
}
.other-box .height-auto {
  height: 100%;
}
.other-box .height-auto .col-lg-6 {
  height: 100%;
}
.other-box .height-half {
  padding-bottom: 20px;
}
.other-box .text-position {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
.other-box .text-position h3 {
  font-size: 34px;
  color: #ffffff;
  font-family: 'BentonSans-Bold';
  padding-bottom: 10px;
}
.other-box .text-position p {
  font-size: 18px;
  color: #ffffff;
}
.other-box .half-block {
  background: #383838;
  padding: 25px;
  margin-bottom: 26px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  min-height: 570px;
}
.other-box .half-block:first-child {
  padding-top: 60px;
}
.other-box .half-block h4 {
  color: #ffffff;
  font-size: 22px;
  font-family: 'BentonSans-Bold';
  padding-bottom: 20px;
}
.other-box .half-block p {
  font-size: 18px;
  color: #ffffff;
}
.other-box .half-block a {
  background: #2d2d2d;
  padding: 8px 24px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
}
.other-box .half-block a:hover {
  text-decoration: none;
}
.beer-box {
  background: #ff3b3b;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
.beer-box img {
  width: 100%;
}
.beer-box .beer-box-text {
  text-align: center;
  padding: 28px 20px 68px 20px;
}
.beer-box .beer-box-text h4 {
  font-family: 'BentonSans-Bold';
  color: #ffffff;
  padding-bottom: 10px;
  font-size: 22px;
}
.beer-box .beer-box-text p {
  color: #ffffff;
  font-size: 22px;
}
.beer-box a {
  background: #cc2f2f;
  padding: 8px 24px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.beer-box a:hover {
  text-decoration: none;
}
.grill-box {
  background: url(../images/bg-cow.jpg) no-repeat #ffffff;
  width: 100%;
  border: 1px dashed #000;
  padding: 50px 30px 75px 220px;
  margin-bottom: 20px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.grill-box .marker-dark {
  background: url(../images/bitmap.png) no-repeat;
  width: 166px;
  height: 166px;
  display: block;
  position: absolute;
  right: 28px;
  top: 18px;
}
.grill-box h3 {
  font-size: 38px;
  text-align: left;
}
.grill-box p {
  font-size: 20px;
  font-family: 'Miller-Text';
  line-height: 32px;
}
.grill-box a {
  font-family: 'BentonSans-Bold';
  color: #222222;
  border-bottom: 1px solid #d7d7d7;
}
.grill-box a:hover {
  text-decoration: none;
  border: 0;
  color: #222222;
}
.height-half {
  height: auto !important;
}
.additional-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.additional-box img {
  display: block;
  margin: 0 auto;
}
.additional-box h6 {
  font-size: 12px;
  color: #999999;
}
.box-hide {
  display: block;
  padding: 22px 0;
  background: #000000;
  text-align: center;
}
.box-hide p {
  color: #666666;
  font-size: 14px;
  font-family: 'BentonSans-Bold';
}
.box-hide .close {
  color: #ffffff;
  position: absolute;
  right: 30px;
  top: 20px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.dotter-line {
  border-top: 1px dashed #000;
  margin: 30px 0;
}
.bs-mijn .title-header {
  font-family: 'BentonSans-Bold';
}
.bs-mijn .tab-section ul.nav-tabs li {
  max-width: 268px;
}
.form-box {
  max-width: 670px;
  /* Placeholder Styling */
}
.form-box h3 {
  font-size: 22px;
  text-align: left;
  padding-bottom: 20px;
  font-family: 'BentonSans-Regular';
}
.form-box ::-webkit-input-placeholder {
  color: #222222;
  font-size: 18px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.form-box ::-moz-placeholder {
  color: #222222;
  font-size: 18px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.form-box ::-o-placeholder {
  color: #222222;
  font-size: 18px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.form-box :-ms-input-placeholder {
  color: #222222;
  font-size: 18px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.form-box input:-moz-placeholder {
  color: #222222;
  font-size: 18px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.form-box p {
  font-size: 18px;
  line-height: 32px;
}
.form-box form p {
  margin-bottom: 30px;
}
.form-box .error-input label {
  color: #ff3b3b;
}
.form-box .error-input input {
  border: 1px solid #ff3b3b;
}
.input-line label {
  clear: both;
  font-size: 12px;
  font-weight: normal;
  padding-bottom: 5px;
  display: block;
}
.input-line p a {
  text-decoration: underline;
  font-size: 18px;
}
.input-line input {
  background: #f5f5f5;
  height: 46px;
  padding: 0 14px;
  width: 100%;
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid transparent;
}
.input-line .input-radio label {
  display: inline-block;
  font-size: 18px;
  padding-top: 10px;
}
.input-line .input-radio label:first-child {
  margin-right: 100px;
}
.input-line .input-radio input {
  float: left;
  width: auto;
  height: auto;
  margin-right: 20px;
  margin-top: 9px;
}
.list-logos {
  padding-top: 30px;
}
.list-logos .logo-one {
  display: block;
  text-align: center;
  margin: 0 auto 40px;
  vertical-align: middle;
  position: relative;
}
.list-logos .logo-one img {
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: relative;
}
.checkbox-line {
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
  padding: 15px 0;
  margin-top: 30px;
}
.checkbox-line input {
  margin-right: 20px;
}
.checkbox-line label {
  font-size: 20px;
  font-weight: normal;
}
.btn-submit {
  background: #222222;
  display: block;
  width: 100%;
  padding: 14px;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 30px;
  border: 0;
  text-align: center;
  font-family: 'BentonSans-Regular';
  font-size: 14px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.btn-submit:hover {
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  -webkit-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  filter: alpha(opacity=90);
  text-decoration: none;
  color: #ffffff;
}
.sidebar-right {
  max-width: 160px;
  float: right;
  width: 100%;
  text-align: center;
}
.sidebar-right h6 {
  margin-bottom: 24px;
  font-size: 12px;
  color: #999999;
}
.sidebar-right .gray-box {
  width: 100%;
  height: 600px;
  background: #f5f5f5;
}
.title-tab {
  text-align: left;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin: 0 0 47px 0;
}
.title-tab h3 {
  text-align: left;
  font-size: 30px;
  padding-bottom: 0;
  font-family: 'BentonSans-Bold';
}
.select-custom {
  padding-top: 10px;
}
.select-custom b {
  padding-right: 28px;
  position: relative;
  top: 7px;
}
.select-custom select {
  background: #ffffff;
  border: 0;
}
.select-custom .select-style {
  float: right;
  margin-to1: -20px;
}
.select-custom .select-style select:focus {
  outline: none;
}
.select-custom .options,
.select-custom .placeholder {
  text-align: left;
  font-size: 14px;
}
.title-page {
  font-size: 30px;
  font-family: 'BentonSans-Bold';
  padding-bottom: 20px;
  text-align: left;
}
.collapse-bootstrap .col-xs-12 {
  padding: 0;
}
.sidebar-one-text {
  position: relative;
  padding: 30px 30px 70px 30px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.sidebar-one-text p {
  color: #ffffff;
  margin-bottom: 60px;
  font-size: 22px;
}
.sidebar-one-text h4 {
  color: #ffffff;
  margin-bottom: 0!important;
  font-size: 22px;
  font-family: 'BentonSans-Bold';
}
.sidebar-one-text .more-link {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  padding: 10px 5px;
  font-family: 'BentonSans-Bold';
}
.sidebar-one-text .more-link:hover {
  text-decoration: none;
}
.red-box .sidebar-one-text {
  background: #ff3b3b;
}
.red-box .more-link {
  background: #cc2f2f;
}
.green-box .sidebar-one-text {
  background: #19ba69;
}
.green-box .more-link {
  background: #149554;
}
.sidebar-one-box {
  float: right;
  max-width: 271px;
  margin-bottom: 30px;
}
.sidebar-one-box img {
  width: 100%;
}
.article-box {
  background: #ffffff;
  float: right;
  padding: 50px 10px 30px 10px;
  max-width: 270px;
  box-sizing: border-box;
  text-align: center;
  border: 1px dashed #000000;
}
.article-box img {
  margin-bottom: 50px;
}
.article-box p {
  margin-bottom: 50px;
  padding: 0 10px;
  font-size: 22px;
}
.article-box a {
  font-family: 'BentonSans-Bold';
  font-size: 14px;
}
.image-box {
  position: relative;
}
.image-box .shadow-box {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.image-box img {
  width: 100%;
}
.tab-special p {
  font-size: 18px;
  margin-bottom: 30px;
}
.tab-special h4 {
  font-size: 22px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.modal-dialog {
  margin-top: 20px;
  width: 100%;
}
#menuModal .modal-body {
  padding: 0;
}
#menuModal .modal-dialog {
  max-width: 1498px;
}
#aanmelden .modal-dialog,
#inloggen .modal-dialog {
  max-width: 430px;
  margin: 0 auto;
}
#aanmelden .modal-body,
#inloggen .modal-body {
  padding: 60px 30px;
}
#aanmelden .modal-body p a,
#inloggen .modal-body p a {
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  border-bottom: 1px solid #999999;
}
#aanmelden .modal-body p a:hover,
#inloggen .modal-body p a:hover {
  text-decoration: none;
  color: #202020;
  border: 0;
}
button.close {
  background: url(../images/close-black.png) no-repeat;
  width: 17px;
  height: 18px;
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.modal-body {
  position: relative;
}
.modal-body h5 {
  font-size: 30px;
  font-family: 'BentonSans-Bold';
  padding-bottom: 26px;
  text-align: left;
}
.modal-body p {
  font-size: 18px;
  color: #202020;
  line-height: 27px;
}
.modal-body form {
  padding-top: 40px;
}
.top-print {
  border-bottom: 1px solid #000000;
  padding: 34px 0 10px 0;
  text-align: right;
}
.top-print span {
  color: #222222;
  font-family: 'BentonSans-Regular';
  font-size: 14px;
  height: 22px;
  display: inline-block;
  cursor: pointer;
  margin-right: 50px;
  padding-left: 30px;
}
.top-print .print-deel {
  background: url(../images/print2.png) no-repeat 0 100%;
}
.top-print .print {
  background: url(../images/print.png) no-repeat 0 100%;
}
table + .top-print {
  border-top: 1px solid #000000;
  margin-bottom: 90px;
}
.print-section table {
  width: 100%;
}
.print-section .number-box {
  float: right;
}
.print-section .number-box a {
  text-decoration: none;
}
.print-section .number-box a:hover {
  text-decoration: none;
}
.print-section .minus {
  background: #ffffff;
  border: 1px solid #020202;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  padding: 2px 10px;
  height: 28px;
  float: left;
}
.print-section .plus {
  background: #ffffff;
  border: 1px solid #020202;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 2px 10px;
  height: 28px;
  float: left;
}
.print-section .count {
  width: 78px !important;
  border: 0;
  text-align: center;
  background: #f5f5f5;
  padding: 2px 10px;
  height: 28px;
  float: left;
  border-top: 1px solid #020202;
  border-bottom: 1px solid #020202;
}
.print-section h5 {
  color: #999999;
  font-size: 18px;
}
.print-section th {
  padding: 14px 0;
}
.print-section td {
  padding: 14px 0;
  border-top: 1px dashed #000000;
}
.print-section input[type=number]::-webkit-inner-spin-button,
.print-section input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.print-section .spinner {
  width: 40px;
  position: absolute;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.print-section .spinner:hover {
  background: lightgrey;
}
.print-section input[type="checkbox"] {
  margin-right: 10px;
}
.print-section input[type="checkbox"]:focus {
  outline: none;
}
.print-section label {
  font-weight: normal;
}
.plus-btn {
  background: url(../images/plus.png) no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.delete-icon {
  background: url(../images/delete.png) no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 3px;
}
.overzicht-section .select-custom {
  padding-right: 15px;
}
.top-title {
  background: #ffffff;
  margin-top: -60px;
  position: relative;
  float: left;
  z-index: 20;
  padding-top: 22px;
  text-align: left;
}
.top-title h5 {
  margin: 0 15px 30px 15px;
  padding-bottom: 14px;
  font-size: 18px;
  text-align: left;
}
.one-over {
  margin-bottom: 30px;
}
.one-over img {
  width: 100%;
}
.one-over-text {
  background: #ff8c19;
  padding: 30px;
  position: relative;
}
.one-over-text h4 {
  font-size: 22px;
  font-family: 'BentonSans-Bold';
  padding-bottom: 10px;
  color: #ffffff;
}
.one-over-text p {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 80px;
}
.one-over-text .more-link {
  background: #cc7014;
  text-align: right;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 20px 10px 5px;
  margin-right: 20px;
  font-family: 'BentonSans-Bold';
}
.one-over-text .more-link:hover {
  text-decoration: none;
}
.purple-box .one-over-text {
  background: #7b19dd;
}
.purple-box .one-over-text .more-link {
  background: #6214b1;
}
.red-box .one-over-text {
  background: #ff3b3b;
}
.red-box .one-over-text .more-link {
  background: #cc2f2f;
}
.blue-box .one-over-text {
  background: #197897;
}
.blue-box .one-over-text .more-link {
  background: #146079;
}
.green-box .one-over-text {
  background: #19ba69;
}
.green-box .one-over-text .more-link {
  background: #149554;
}
.black-box .one-over-text {
  background: #383838;
}
.black-box .one-over-text .more-link {
  background: #2d2d2d;
}
.hightblue-box .one-over-text {
  background: #00a3d9;
}
.hightblue-box .one-over-text .more-link {
  background: #148ab1;
}
.list-boxes {
  margin: 0 15px;
  border-bottom: 1px solid #222222;
}
.list-boxes h3 {
  font-size: 30px;
  padding-bottom: 30px;
  font-family: 'BentonSans-Bold';
}
.padd-30 {
  padding: 30px 0 0 0;
  clear: both;
}
.one-actuele {
  margin-bottom: 20px;
}
.one-actuele img {
  float: left;
}
.one-actuele .one-over-text {
  max-width: 270px;
  float: right;
  height: 100%;
}
.sidebar-recepten .popover-box .triangle-black {
  top: 64%;
}
.sidebar-recepten .sidebar-recepten-title {
  border-bottom: 1px dashed #000000;
  padding-bottom: 20px;
}
.sidebar-recepten .sidebar-recepten-title h5 {
  text-align: left;
  font-family: 'BentonSans-Bold';
  font-size: 22px;
  float: left;
}
.sidebar-recepten .sidebar-recepten-title .number-box {
  float: right;
}
.sidebar-recepten .sidebar-recepten-title .number-box a {
  text-decoration: none;
}
.sidebar-recepten .sidebar-recepten-title .number-box a:hover {
  text-decoration: none;
  color: #222222;
}
.sidebar-recepten .sidebar-recepten-title .minus {
  background: #ffffff;
  border: 1px solid #020202;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  padding: 2px 10px;
  height: 28px;
  float: left;
}
.sidebar-recepten .sidebar-recepten-title .plus {
  background: #ffffff;
  border: 1px solid #020202;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 2px 10px;
  height: 28px;
  float: left;
}
.sidebar-recepten .sidebar-recepten-title .count {
  width: 78px !important;
  border: 0;
  text-align: center;
  background: #f5f5f5;
  padding: 2px 10px;
  height: 28px;
  float: left;
  border-top: 1px solid #020202;
  border-bottom: 1px solid #020202;
}
.sidebar-recepten ul + a {
  font-family: 'BentonSans-Bold';
  text-decoration: underline;
}
.sidebar-recepten ul + a:hover {
  color: #222222;
  text-decoration: none;
}
.sidebar-recepten ul {
  padding-bottom: 20px;
}
.sidebar-recepten ul li .plus-icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 14px;
}
.sidebar-recepten ul li .plus-icon:after {
  content: " +";
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: 5px;
  width: 16px;
  height: 14px;
}
.sidebar-recepten ul li .plus-icon:hover:after {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 16px;
  margin-top: -6px;
  height: 14px;
  background: url(../images/check-a.png) no-repeat;
  display: block;
  content: " ";
}
.sidebar-recepten ul li > div {
  display: block;
  padding: 12px 0;
  position: relative;
  cursor: pointer;
  border-bottom: 1px dashed #000000;
  color: #212121;
}
.sidebar-recepten ul li > div:hover {
  text-decoration: none;
  color: #212121;
  font-weight: bold;
}
.sidebar-recepten ul li .active {
  font-weight: bold;
}
.sidebar-recepten ul li .active .plus-icon:after {
  content: " ";
}
.sidebar-recepten ul li .active:hover:after {
  content: "";
}
.sidebar-recepten ul li .active:after {
  position: absolute;
  top: 50%;
  right: 5px;
  background: url(../images/check-a.png) no-repeat;
  width: 16px;
  height: 14px;
  display: block;
  content: " ";
  margin-top: -6px;
}
.sidebar-right-list {
  margin-right: 15px;
  padding-bottom: 60px;
}
.sidebar-right-list h5 {
  font-size: 18px;
  font-family: 'BentonSans-Bold';
  color: #222222;
  text-align: left;
  border-bottom: 1px solid #000;
  padding-bottom: 17px;
}
.sidebar-right-list .adder-btn {
  font-family: 'BentonSans-Bold';
}
.sidebar-right-list .adder-btn:hover {
  text-decoration: underline;
  color: #222222;
}
.sidebar-right-list ul {
  padding-bottom: 20px;
}
.sidebar-right-list ul li span {
  display: block;
  border-bottom: 1px solid #000;
  padding: 12px 0;
  position: relative;
  cursor: pointer;
  color: #212121;
}
.sidebar-right-list ul li span:hover:after {
  content: " +";
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -14px;
}
.sidebar-right-list ul li span:hover {
  text-decoration: none;
  color: #212121;
  font-weight: bold;
}
.sidebar-right-list ul li .active {
  font-weight: bold;
}
.sidebar-right-list ul li .active:hover:after {
  content: "";
}
.sidebar-right-list ul li .active:after {
  position: absolute;
  top: 20px;
  right: 5px;
  background: url(../images/check-a.png) no-repeat;
  width: 16px;
  height: 14px;
  display: block;
  content: " ";
}
.filter-line {
  padding-top: 17px;
  margin: 0 15px 50px 15px!important;
  padding-bottom: 17px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.filter-line a {
  line-height: 26px;
  font-weight: bold;
  cursor: pointer;
}
.filter-line a:hover,
.filter-line a:focus,
.filter-line a:active {
  text-decoration: none;
  color: #222222;
}
.filter-line h5 {
  text-align: left;
}
.filter-line h5 span {
  background: url(../images/delete.png) no-repeat 0 100%;
  line-height: 26px;
  padding-left: 36px;
  display: inline-block;
  margin-left: 26px;
  cursor: pointer;
}
.with-filter {
  display: none;
}
.filter-show a:after {
  content: "+ Toon filters";
}
.filter-show.opened a:after {
  content: "- Verberg filters ";
}
/*--------------Starts Box----------*/
.stars-box {
  text-align: center;
}
dl.star-rating ol {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 104px;
  height: 20px;
  position: relative;
  background: url(../images/star-grey.png);
}
dl.star-rating ol li a {
  display: block;
  width: 21px;
  height: 20px;
  text-indent: -9999px;
  position: absolute;
  text-decoration: none;
  z-index: 10;
  margin-right: 5px;
}
dl.star-rating ol li a:hover {
  background: url(../images/star-black.png) left center;
  left: -3px;
  z-index: 2;
}
dl.star-rating a.star1 {
  left: 0;
}
dl.star-rating a.star1:hover {
  width: 20px;
  left: 0;
}
dl.star-rating a.star2 {
  left: 22px;
}
dl.star-rating a.star2:hover {
  width: 43px;
  left: 0;
}
dl.star-rating a.star3 {
  left: 43px;
}
dl.star-rating a.star3:hover {
  width: 65px;
  left: -1px;
}
dl.star-rating a.star4 {
  left: 63px;
}
dl.star-rating a.star4:hover {
  width: 85px;
  left: -1px;
}
dl.star-rating a.star5 {
  left: 83px;
}
dl.star-rating a.star5:hover {
  width: 110px;
}
.edit-btn {
  background: url(../images/edit-icon.png) no-repeat left top;
  padding-left: 40px;
  display: inline-block;
  height: 25px;
  line-height: 26px;
  position: relative;
  margin-right: 50px;
}
.deel-recept {
  background: url(../images/print.png) no-repeat left top;
  padding-left: 40px;
  display: inline-block;
  height: 25px;
  line-height: 26px;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
}
.print-recept {
  background: url(../images/print2.png) no-repeat left top;
  padding-left: 40px;
  display: inline-block;
  height: 25px;
  cursor: pointer;
  line-height: 27px;
  position: relative;
}
.info-icon {
  margin-left: 10px;
  display: inline-block;
  background: url(../images/info.png) no-repeat;
  width: 20px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.line-blocks {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.line-blocks .line-blocks-link,
.line-blocks .one-top-info {
  background: rgba(0, 0, 0, 0.4);
  padding: 14px;
  display: inline-block;
  color: #ffffff;
  height: 48px;
  position: relative;
  font-weight: bold;
}
.line-blocks .one-top-info {
  margin-left: 12px;
  margin-bottom: 12px;
}
.line-blocks .one-top-info:last-child {
  font-weight: normal;
}
.line-blocks .line-blocks-link {
  margin-left: 10px;
  padding-left: 30px;
  margin-bottom: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.line-blocks .line-blocks-link:hover {
  text-decoration: none;
}
.line-blocks .line-blocks-link:before {
  width: 0;
  height: 0;
  border-style: solid;
  content: " ";
  position: absolute;
  top: 20px;
  left: 14px;
  border-width: 5px 10px 5px 0;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
  border-color: transparent #ffffff transparent transparent;
}
.recept-one-box {
  margin-bottom: 60px;
  margin-top: 70px;
}
.recept-one-box .edit-btn {
  cursor: pointer;
  margin-right: 60px;
}
.recept-one-box .add-btn {
  background: url(../images/pls.png) no-repeat left top;
  padding-left: 30px;
  display: inline-block;
  line-height: 30px;
  margin-right: 50px;
  cursor: pointer;
}
.recept-one-box .star-rating {
  float: left;
  margin: 5px 40px 0 0;
}
.recept-one-box .line-info {
  padding: 15px 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.recept-one-box .line-info div,
.recept-one-box .line-info span {
  font-family: 'BentonSans-Bold';
}
.recept-one-box .line-info dt {
  float: left;
  margin-right: 10px;
}
.recept-one-box .line-info dd {
  float: left;
}
.recept-one-box h2 {
  font-size: 60px;
  text-align: center;
  max-width: 920px;
  margin: 20px auto;
  font-weight: bold;
  font-family: 'Miller-Display';
}
.recept-one-box-down {
  clear: both;
  margin-top: 0!important;
}
.content-info {
  max-width: 680px;
}
.content-info h3 {
  font-size: 30px;
  font-family: 'BentonSans-Bold';
  text-align: left;
  padding-bottom: 30px;
  margin: 0;
}
.content-info h4 {
  font-family: 'BentonSans-Bold';
  font-size: 18px;
  margin-bottom: 0;
}
.content-info p {
  margin-bottom: 50px;
}
.content-info ol.simple-list {
  list-style-type: none;
  list-style-type: decimal !ie;
  /*IE 7- hack*/
  margin: 0;
  padding: 0;
  counter-reset: li-counter;
}
.content-info ol.simple-list li {
  position: relative;
  margin-bottom: 20px;
  min-height: 3em;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 27px;
  text-indent: 34px;
}
.content-info ol.simple-list li:before {
  position: absolute;
  top: 6px;
  left: -34px;
  width: 0.8em;
  font-size: 18px;
  line-height: 1;
  font-family: 'BentonSans-Bold';
  text-align: right;
  color: #464646;
  content: counter(li-counter) ".";
  counter-increment: li-counter;
}
.short-info {
  background: #f5f5f5;
  padding: 25px;
}
.short-info table {
  width: 100%;
  float: left;
  margin-right: 40px;
  max-width: 260px;
  margin-bottom: 30px;
}
.short-info table tr {
  border-bottom: 1px dashed #000;
}
.short-info table tr td {
  padding: 15px 0;
}
.short-info table tr td:first-child {
  font-weight: bold;
}
.short-info table tr td:last-child {
  text-align: right;
}
.short-info table tr th {
  padding-bottom: 15px;
  font-family: 'BentonSans-Bold';
  font-size: 18px;
}
.short-info .tags {
  width: 48%;
  float: left;
  margin-bottom: 30px;
}
.short-info .tags .popover-box {
  display: none;
  z-index: 10;
}
.short-info .tags h4 {
  font-family: 'BentonSans-Bold';
  font-size: 18px;
  padding-bottom: 15px;
  margin-bottom: 0;
}
.short-info .tags > div {
  background: #878787;
  padding: 10px 18px;
  color: #ffffff;
  font-family: 'BentonSans-Bold';
  margin: 0 10px 10px 0;
  display: inline-block;
  position: relative;
}
.short-info .tags > div .info-icon {
  margin-left: 10px;
}
.short-info .result-text {
  width: 100%;
  clear: both;
  float: left;
}
.sidebar-recepten-menu {
  padding-top: 60px;
}
.sidebar-recepten-menu h5 {
  font-size: 22px;
  font-family: 'BentonSans-Regular';
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px dashed #000;
}
.sidebar-recepten-menu ul li span {
  display: block;
  border-bottom: 1px dashed #000;
  padding: 12px 0;
  position: relative;
  cursor: pointer;
  color: #212121;
}
.sidebar-recepten-menu ul li span:hover {
  text-decoration: none;
  color: #212121;
  font-weight: bold;
}
.popover-box {
  background: #222222;
  padding: 50px 30px;
  width: 255px;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px #000000;
  -moz-box-shadow: 0 0 3px #000000;
  box-shadow: 0 0 3px #000000;
  position: absolute;
  left: -276px;
  top: -180px;
  display: none;
}
.popover-box h4 {
  color: #ffffff;
  padding-bottom: 20px;
  font-family: 'BentonSans-Bold';
  font-size: 14px;
  margin-bottom: 0;
  line-height: 23px;
}
.popover-box p {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 23px;
}
.popover-box button.close {
  color: #ffffff;
  background: transparent;
  top: 15px;
}
.popover-box a {
  color: #ffffff;
  text-decoration: underline;
}
.popover-box a:hover {
  text-decoration: none;
}
.popover-box .triangle-black {
  height: 10px;
  width: 10px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #222222;
  position: absolute;
  right: -20px;
  top: 51%;
  -webkit-filter: drop-shadow(0 -4px 2px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px -4px rgba(0, 0, 0, 0.2));
  display: block;
}
.sidebar-recepten .popover-box {
  top: -205px;
  left: -320px;
}
.icon-line {
  text-align: center;
  padding-bottom: 30px;
}
.icon-line span {
  display: inline-block;
  font-size: 20px;
  color: #222222;
  margin-left: 34px;
}
.icon-line span:first-child {
  margin-left: 0;
}
.icon-line .person-icon {
  background: url(../images/people-icon.png) no-repeat left 6px;
  padding-left: 30px;
}
.icon-line .sheff-icon {
  background: url(../images/sheff-icon.png) no-repeat left 6px;
  padding-left: 30px;
}
.icon-line .clock-icon {
  background: url(../images/time.png) no-repeat left 6px;
  padding-left: 30px;
}
.icon-line .cor-icon {
  background: url(../images/cor.png) no-repeat left 6px;
  padding-left: 30px;
}
.bs-recepe .recepten-section {
  padding-bottom: 30px;
}
.sidebar-right-reviews .rating {
  float: right;
}
.one-reviews {
  border-bottom: 1px dashed #000000;
  margin-bottom: 50px;
}
.one-reviews .rating {
  float: right;
}
.one-reviews-text {
  clear: both;
  float: none;
}
.one-reviews-text p {
  clear: both;
  line-height: 27px;
}
.one-reviews-text label {
  font-size: 12px;
  font-weight: normal;
}
.one-reviews-text form {
  margin-top: 40px;
}
.one-reviews-text form textarea {
  width: 100%;
  background: #f5f5f5;
  border: 0;
  height: 272px;
  resize: none;
  padding: 13px;
}
.one-reviews-text .date-box {
  font-family: 'BentonSans-Bold';
}
.one-reviews-title h4 {
  font-size: 22px;
  text-align: left;
  float: left;
  font-family: 'BentonSans-Bold';
}
.one-reviews-title .star-rating {
  float: right;
}
.star-rating h5 {
  font-size: 'BentonSans-Regular';
  font-family: 'BentonSans-Bold';
  float: left;
  margin-right: 10px;
  padding-top: 5px;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  background: url(../images/star-grey.png) no-repeat;
  width: 21px;
  height: 21px;
  cursor: pointer;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: " ";
  position: absolute;
  background: url(../images/star-black.png) no-repeat;
  left: 0;
  width: 21px;
  height: 21px;
  top: 0;
}
.hide-menu {
  background: #ffffff;
  padding: 28px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  width: 270px;
  height: 246px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -40px;
  top: -276px;
  z-index: 1;
  visibility: hidden;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.hide-menu button.close {
  top: 15px;
  right: 15px;
}
.hide-menu h5 {
  font-family: 'BentonSans-Bold';
  text-align: left;
  padding: 10px 20px;
}
.hide-menu .triangle {
  height: 10px;
  width: 10px;
  border-style: solid;
  position: absolute;
  left: 120px;
  top: 100%;
  display: block;
}
.hide-menu .triangle:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background: #ffffff;
  transform: rotate(45deg);
  top: -22px;
  left: -12px;
  z-index: 1;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.8);
}
.hide-menu ul {
  width: 100%;
  padding-bottom: 28px;
  position: relative;
  z-index: 2;
  background: #ffffff;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.hide-menu ul li {
  border-bottom: 1px solid #222222;
  text-align: left;
}
.hide-menu ul li:first-child {
  border-top: 1px solid #222222;
}
.hide-menu ul li a {
  color: #202020;
  padding: 12px 20px;
  font-family: 'BentonSans-Regular';
  display: block;
}
.hide-menu ul li a:hover {
  background: #f5f5f5;
  text-decoration: none;
}
.hide-menu ul li .email-icon {
  background: url(../images/email.png) no-repeat;
  width: 15px;
  height: 19px;
  display: inline-block;
  margin-right: 14px;
}
.hide-menu ul li i {
  margin-right: 14px;
  font-size: 19px;
}
.deel-recept.active .hide-menu {
  opacity: 1;
  visibility: visible;
}
.lijstje .title-header {
  font-family: 'BentonSans-Bold';
  font-size: 60px;
}
#content {
  width: 30px;
}
.form-control::-ms-clear {
  display: none;
}
@media only screen and (max-width: 768px) {
  .one-product {
    max-width: 200px;
    margin: 0 auto 30px;
  }
  .lijstje .title-header {
    word-wrap: break-word;
  }
  .one-actuele,
  .one-over {
    max-width: 270px;
    margin: 0 auto 30px;
  }
  .article-box {
    float: left;
  }
  .article-box {
    width: 100%;
  }
  .article-box img {
    width: 100%;
  }
  .bs-artikel .search-box {
    margin-top: 80px;
  }
  .bs-artikel .title-header {
    line-height: 72px;
  }
  .other-box {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .other-box .image-box {
    margin-bottom: 30px;
  }
  .other-box .half-block,
  .other-box .beer-box {
    margin-bottom: 30px;
  }
  .grill-box {
    padding-left: 30px;
    position: relative;
  }
  .grill-box * {
    position: relative;
    z-index: 10;
  }
  .grill-box:before {
    background: rgba(255, 255, 255, 0.4);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .one-block {
    max-width: 270px;
    height: auto!important;
    margin: 0 auto 60px;
  }
  .tab-section ul.nav-tabs li {
    max-width: 32%;
  }
  .additional-box {
    padding-top: 0;
  }
  .additional-box img {
    width: 100%;
  }
  .bs-thema .sidebar-left h5 {
    padding-top: 40px;
  }
  .other-box .half-block,
  .other-box .beer-box {
    width: 100%;
    margin-right: 0;
  }
  .half-one {
    margin-bottom: 30px;
  }
  .big-image-box {
    margin-top: 0;
  }
  .footer-menu .container {
    padding-bottom: 40px;
  }
  .footer-menu .container .one-box {
    width: 50%;
    padding-left: 50px;
  }
  .menu-height {
    height: auto!important;
  }
  .hot-box {
    max-width: 210px;
    margin: 0 auto 23px;
  }
  .one-dish {
    max-width: 270px;
    height: auto!important;
    margin: 0 auto 40px;
  }
  .navbar-form {
    padding: 10px 16px;
    max-width: 620px;
    margin: 0 auto;
  }
  .search-box .input-group-btn {
    right: 50px;
  }
  .party-box {
    max-width: 270px;
    margin: 0 auto 30px;
    height: auto!important;
  }
  .one-recepten-box {
    height: auto !important;
  }
  .one-recepten-box .one-recepten .one-recepten-text {
    text-align: left;
    clear: both;
    margin-left: 0;
  }
  .one-recepten-box .one-recepten img {
    width: 100%;
    height: auto;
    clear: both;
    display: block;
  }
}
@media only screen and (max-width: 1200px) {
  .one-actuele {
    margin-bottom: 30px;
    height: auto!important;
  }
  .one-actuele img {
    width: 100%;
    max-width: 270px;
  }
  .one-actuele .one-over-text {
    clear: both;
    float: none;
  }
  .half-tomato {
    display: none;
  }
  .tomato img {
    width: 100%;
  }
}
@media only screen and (max-width: 980px) {
  .modal-dialog {
    width: auto;
  }
  .one-recepten {
    max-width: 270px;
    margin: 0 auto 30px;
  }
  .menu-sidebar .menu-sidebar-inner {
    float: none;
    margin: 0;
  }
  .one-recepten-box .one-recepten img {
    width: 100%;
  }
  .one-recepten-box .one-recepten .one-recepten-text {
    margin-left: 0;
    clear: both;
    height: auto;
  }
  .logo {
    display: block;
    text-align: center;
  }
  .logo img {
    margin: 0 auto 20px;
    display: block;
    text-align: center;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .one-recepten-box,
  .one-recepten-box:first-child {
    width: 100%;
    clear: both;
    margin-right: 0;
  }
  .recept-one-box .star-rating {
    float: none;
    text-align: center;
    padding-bottom: 20px;
  }
  .recept-one-box .star-rating h5 {
    float: none;
    display: inline-block;
    padding-top: 2px;
    vertical-align: top;
  }
  .recept-one-box .star-rating .rating {
    float: none;
    display: inline-block;
  }
  .header-right .top-search input[type="text"] {
    width: 350px;
  }
  .tags .popover-box {
    left: 45px;
  }
  .tags .popover-box .triangle-black {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #222222 transparent transparent;
    right: 100%;
  }
  .logo {
    display: block;
    text-align: center;
  }
  .logo img {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .other-box .container {
    width: 100%;
  }
  .other-box .logo {
    display: block;
    text-align: center;
  }
  .other-box .logo img {
    margin: 0 auto 20px;
    display: block;
    text-align: center;
  }
  .other-box .hot-box p {
    font-size: 12px;
  }
  .other-box .slick-slide img {
    margin: 0 auto;
  }
  .other-box .tab-section .tab-pane {
    padding-bottom: 0;
  }
  .other-box .hot-box-img .hot-price img {
    width: 54%;
  }
  .other-box .hot-box p {
    padding-bottom: 30px;
  }
  .other-box .one-product {
    margin-bottom: 30px;
  }
}
/* min-width 641px */
@media only screen and (min-width: 481px) and (max-width: 680px) {
  .header-right {
    margin-right: 0;
  }
  .top-bar,
  .login-form,
  .top-search {
    clear: both;
  }
  .header-right {
    position: relative;
    float: none;
  }
  .header-right .top-search {
    float: none;
    margin-right: 0;
    position: absolute;
    left: 0;
    margin-top: 0;
    z-index: 12;
  }
  .header-right .top-search input[type="text"] {
    left: 0;
    z-index: 15;
    width: 378px;
    padding: 0 10px 0 112px;
  }
  .header-right .top-search button {
    padding: 0 0 0 10px;
  }
  .header-right .active {
    z-index: 16;
  }
  .header-right .login-form {
    float: none;
    text-align: center;
    max-width: 240px;
    margin: 0 auto;
    z-index: 14;
  }
  .header-right .top-bar {
    position: absolute;
    right: 0;
    top: 2px;
    margin-right: 15px;
  }
}
@media only screen and (max-width: 580px) {
  .one-recepten-box,
  .one-recepten-box:first-child {
    width: 100%;
    clear: both;
    margin-right: 0;
  }
  .one-recepten-box p,
  .one-recepten-box:first-child p {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .menu-height h3 {
    float: left;
  }
  .menu-height .btn-submit {
    clear: both;
    float: left;
  }
  .tab-section .sidebar-left li {
    background: transparent;
  }
  .bs-thema .tab-section ul.nav-tabs li {
    max-width: 100%;
  }
  .bs-thema .marker {
    display: none;
  }
  .bs-thema .text-box {
    margin-top: 60px;
  }
  .box-hide p {
    padding: 0 40px;
  }
  .menu-height {
    height: auto !important;
  }
  .modal-dialog {
    margin: 0;
  }
  .top-menu .logo {
    text-align: left;
    float: left;
  }
  .top-menu-content {
    padding-left: 0;
  }
  .list-box {
    height: auto !important;
  }
  .top-menu-content .title-box .btn-submit {
    float: none;
  }
  .top-menu-content .party-box {
    float: left;
  }
  .search-box {
    margin-top: 50px;
  }
  .tab-section .top-tabs {
    background: transparent;
  }
  .tab-section li {
    background: #999999;
  }
  .tab-section li a {
    margin-right: 0 !important;
  }
  .tab-section {
    background: #ffffff;
  }
  .tab-section ul.nav-tabs li {
    width: 100%;
    max-width: 100%;
  }
  .header-right {
    position: relative;
    float: none;
    margin-right: 0;
  }
  .header-right .login-form {
    clear: both;
  }
  .header-right .top-search {
    float: right;
    margin-right: 0;
    position: relative;
    left: 0;
    margin-top: 0;
    padding-bottom: 10px;
  }
  .header-right .top-search button {
    padding: 0;
  }
  .header-right .top-search input[type="text"] {
    width: 282px;
  }
  .header-right .login-form {
    float: right;
    text-align: center;
    max-width: 240px;
    margin: 0 auto 10px;
  }
  .header-right .login-form .hide-login {
    top: 42px;
    left: -72px;
  }
  .header-right .top-bar {
    position: relative;
    float: right;
    margin-right: 15px;
    clear: both;
  }
  .footer-menu .container .one-box {
    padding-left: 0;
  }
  .one-recepten-box {
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    float: none;
  }
  .one-recepten-box:first-child {
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
  }
  .big-image-box {
    padding: 30px;
  }
  .social-line li {
    padding: 0 7px;
  }
  .home .tab-section ul.nav-tabs li {
    width: 100%;
  }
  .search-box .title-header {
    font-size: 44px;
  }
  .menu-sidebar {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .slick-slide img {
    width: auto;
  }
  .one-recepten-box {
    margin-bottom: 30px;
  }
  .slick-slide img {
    width: 100%;
  }
  .recepe-one {
    padding: 35px 20px;
  }
  .recepe-one h4 {
    font-size: 18px;
    line-height: 20px;
  }
  .popular-section h3 {
    font-size: 34px;
  }
  .tab-pane > h3 {
    font-size: 34px;
  }
  .footer-menu .container .one-box {
    padding-left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .slick-slide img {
    width: auto;
  }
  .search-box .title-header {
    font-size: 44px;
  }
  .header-right .top-search button {
    font-size: 0;
  }
  .header-right .top-search input[type="text"] {
    width: 262px;
  }
  .header-right .top-search .header-right .login-form .hide-login {
    left: -70px;
  }
}
