@import "variables";
// Add main less styles here


/*------------------------------------BASIC STYLE---------------------------*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: @main-family;
}

p, a, li  {
  color: @main-color;
  font-family: @main-family;
  font-size: @main-size;
  line-height: @line-height-base;
}

h3 {
  color: @main-color;
  text-align: @text-align-center;
  font-size: @h3-size;
  padding-bottom: 45px;
}

h5 {
  color: @main-color;
  text-align: @text-align-center;
}

body {
  font-size: @main-size;
  font-family: @main-family;
}

a:focus {
  outline: none;
}

a:hover {
  color: @main-color;
}

/* Placeholder Styling */
::-webkit-input-placeholder { color: @social-color; .opacity(1); }
::-moz-placeholder { color: @social-color; .opacity(1); }
::-o-placeholder { color: @social-color; .opacity(1); }
:-ms-input-placeholder { color: @social-color; .opacity(1); }
input:-moz-placeholder { color: @social-color; .opacity(1);}




/*------------------------------------- HEADER -----------------------------*/

header {
  position: relative;
  z-index: 10;

  .container {

    &:first-child {
      max-width: 1498px;
      width: 100%;
    }

    .row:first-child {
        background: @header-color;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        padding-top: 20px;

      }
  }
}

.nav-tabs > li {
  margin-bottom: -2px;
  margin-top: -6px;
}

.header-top {
  background: url(../uploads/main.jpg) no-repeat center top;
  background-size: cover;
  min-height: 700px;
  position: relative;

  .bg-box {
      background-color: rgba(0,0,0, 0.4);
      content: " ";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: 1;
    }
}


.bs-mijn {

  .header-top {
    background: url(../uploads/images.jpg) no-repeat center top;
    background-size: cover;
    min-height: 700px;
    position: relative;
  }

}

.overzicht {
  .header-top {
    min-height: 522px;
  }
}

.overzicht {
  .search-box {
   margin-top: 90px;
  }
}

.lijstje  .header-top {
  background: url(../uploads/products.png) no-repeat center top;
  background-size: cover;
  min-height: 518px;
  position: relative;
}


.bs-artikel .header-top {
  background: url(../images/tomato-banner.jpg) no-repeat center top;
  background-size: cover;
  min-height: 518px;
  position: relative;
}

.bs-artikel2 .header-top {
  background: url(../uploads/imgarticle2.jpg) no-repeat center top;
  background-size: cover;
  min-height: 518px;
  position: relative;
}

.bs-recepe .header-top {
  background: url(../uploads/recepe-image.jpg) no-repeat center top;
  background-size: cover;
  min-height: 768px;
  position: relative;
}

.bs-recepe  {
  .tab-section {
    ul.nav-tabs{
      li {
        max-width: 49%;
      }
    }

  }
}

.header-theme {
  background: url(../uploads/rhema.jpg) no-repeat center top;
  background-size: cover;
}

.logo {
  color: @logo;
  font-size: 30px;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
  font-family: @main-family-bold;

    &:hover {
      text-decoration: none;
      color: @logo;
    }
}

.header-right {
  padding-top: 8px;
  margin-right: 10px;
  float: @float-right;

  .login-form {
    float: @float-left;
    margin-right: 50px;
    position: relative;


    .hide-login {
      background: @white;
      .corners(4px);
      opacity: 0;
      width: 270px;
      box-shadow: -2px 1px 2px rgba(0,0,0,0.5), 2px 1px 2px rgba(0,0,0,0.5);
      position: absolute;
      left: -40px;
      top: 60px;
      z-index: 1;
      visibility: hidden;
      height: auto;
      .transition(0.6s,ease-out);

      .triangle {
        height: 10px;
        width: 10px;
        position: absolute;
        left: 105px;
        top: -24px;
        display: block;
        z-index: 1;

        &:after {
          content: "";
          position: absolute;
          width: 40px;
          height: 27px;
          background: @white;
          transform: rotate(45deg);
          top: 20px;
          left: 25px;
          box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
        }
      }


     ul {
        width: 100%;
        background: @white;
        padding: 28px 0;
        position: relative;
        z-index: 10;
       .corners(4px);

        li {
          border-bottom: 1px solid @main-color;
          text-align: @text-align-left;

          &:first-child {
            border-top: 1px solid @main-color;
          }

          a {
            color: @color-dark;
            padding: 15px 20px;
            font-family: @main-family-bold;
            display: block;

            &:hover {
              background: @gray;
              text-decoration: none;
            }
          }
        }
      }
    }

      span {
        font-family: @main-family-bold;
        text-transform: uppercase;
        cursor: pointer;

        .lock-icon {
          background: url(../images/lock.png) no-repeat;
          width: 18px;
          margin-right: 10px;
          height: 22px;
          vertical-align: sub;
          display: inline-block;
        }


      }

    &:hover {
      span {

          color: @social-color;
          .lock-icon {
            background: url(../images/lock-hover.png);
          }

      }
    }
  }

  .hover .hide-login {
    opacity: 1;
    z-index: 100;
    height: auto;
    visibility: visible;
  }

  .top-search {
    font-family: @main-family-bold;
    text-transform: uppercase;
    float: @float-left;
    margin-right: 50px;
    position: relative;

    input[type="text"] {
      border: 0;
      height: 40px;
      padding: 0 112px 0 10px;
      color: @social-color;
      background: @gray;
      font-family: @main-family;
      width: 400px;
      box-sizing: border-box;
      position: absolute;
      right: 0;
      top: -8px;
     .opacity(0);
      overflow: hidden;
      .transition(0.6s,ease-out);
    }

    button {
      cursor: pointer;
      border: 0;
      background: transparent;
      position: relative;
      z-index: 100;
      text-transform: uppercase;

      &:hover {
        color: @main-color;
      }
      &:focus {
        outline: none;
        border: 0;
      }
    }

  }

  .active {
    input[type="text"] {
      .opacity(1);
      overflow: visible;
    }
  }
}

.search-icon {
  font-size: @main-size;
  color: @main-color;
  margin-right: 10px;
  background: url(../images/search.png) no-repeat;
  height: 21px;
  display: inline-block;
  width: 21px;
  vertical-align: sub;
}

.fa.menu-icon {
  font-size: 20px;
  margin-right: 10px;
  vertical-align: top;
  display: inline-block;
}

.top-bar {
  float: @float-left;

  .caret {
    display: none;
  }

  .navbar-nav > li > a {
    padding: 0;
    font-family: @main-family-bold;
    text-transform: uppercase;
    font-size: @main-size;
    color: @main-color;

    &:hover, &:focus, &:active {
      background: #fff;
      color: @social-color;
    }
  }

}

.search-box {
  max-width: 770px;
  margin: 150px auto 0;
  position: relative;
  z-index: 9;
  text-align: @text-align-center;

    .navbar-form .input-group {
      width: 100%;
    }

  .show-results {
    position: absolute;
    left: 0;
    padding: 0 15px;
    box-sizing: border-box;
    width: 100%;
    z-index: 100;
    text-align: @text-align-left;

    ul {
      li {
          border-top: 1px solid @black;
          a {
            padding: 15px;
            background: @gray;
            display: block;
            font-size: 20px;

            &:hover {
              background: @white;
              color: @main-color;
              text-decoration: none;
            }
          }
      }
    }
  }

  i {
    color: @white;
    font-size: 44px;
    font-family:'Miller-Display';
    font-style: italic;
  }

  .title-header {
    font-size: 72px;
    color: @h2-color;
    padding-bottom: 22px;
    font-weight: @bold;

  }

  .input-group-btn {
    position: absolute;
    right: 0;
  }
    .input-group .form-control,
    .input-group-addon,
    .input-group-btn {
      display: block;
    }

    .navbar-form {
      background: transparent;

      .form-control {
        height: 64px;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        color: @social-color;
        font-size: @font-size-large;
        font-family: @main-family;
        padding: 0 20px;
      }
      .btn-default {
        border: none;
        border-radius: 0;
        height: 64px;

        &:hover {
          background: @white;
        }
      }
    }
}


/*-------------------------Hide Menu--------------------*/


#menuModal  {

  .top-menu {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
    display: block;

    h5 {
      font-size:@font-size-large;
      text-align: @text-align-left;
      font-family: @main-family-bold;
      padding-bottom: 11px;
    }

    .menu-header {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px dashed #000;
      position: relative;
    }

    .row {
      &:first-child {
        padding-top: 0!important;
        margin-top: 0!important;
      }
    }
  }
}



.list-box {
  margin-bottom: 50px;

  h5 {
    font-size: @font-size-large;
    text-align: @text-align-left;
    font-family: @main-family-bold;
    padding-bottom: 11px;
  }


ul {
  padding-bottom: 20px;

  li {

    a {
      display: block;
      border-bottom: 1px solid #b2b2b2;
      padding: 12px 0;
      position: relative;
      color: @link-sidebar-color;

      &:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 0 7px 7px;
        content: " ";
        position: absolute;
        top: 50%;
        margin-top: -7px;
        right: 5px;
        border-color: transparent transparent transparent @social-color;
      }

      &:hover {
        text-decoration: none;
        color: @link-sidebar-color;
        font-weight: @bold;
      }

    }

    &:first-child {

      a {
        border-top:  1px solid #b2b2b2;
      }

    }

  }
}

.adder-btn {
  font-family: @main-family-bold;
    &:hover {
      color: @main-color;
      border-bottom: 1px solid @social-color;
      text-decoration: none;
    }
  }
}

.menu-sidebar {
      background: url(../images/garlic.png) no-repeat center bottom @gray;
      padding-top: 146px;
      padding-bottom: 50px;

      .menu-sidebar-inner {
        max-width: 240px;
        margin: 0 30px;
        width: 100%;
        float: @float-right;

      }

  ul {
      li {
      border-bottom: 1px solid @social-color;

      &:first-child {
        border-top: 1px solid @social-color;
      }

      a {
        font-size: @main-size;
        padding: 12px 0;
        position: relative;
        display: block;
        color: @sidebar-link-color;

        &:hover {
          text-decoration: none;
          font-weight: @bold;
        }

        &:after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 0 7px 7px;
          content: " ";
          position: absolute;
          top: 18px;
          right: 10px;
          border-color: transparent transparent transparent @social-color;;
        }

      }
    }
  }
}

.top-menu-content {
  max-width: 780px;
  padding-top: 50px;
  padding-left: 15px;

  .title-box {
    margin-bottom: 40px;

    .btn-submit {
      margin-top: 0;
    }

    h3 {
      font-weight: bold;
      font-size: @size-30;
      text-align: @text-align-left;
      display: inline-block;
      padding-bottom: 0;
      padding-top: 10px;
    }

    a {
      float: @float-right;
      background: @main-color;
      color: @white;
      font-weight: @bold;
      font-size: @main-size;
      padding: 14px 14px 14px 34px;
      display: inline-block;
      .corners(4px);
      max-width: 204px;
      width: 100%;
      text-align: @text-align-left;

      i {
        display: inline-block;
        float: @float-right;
        padding-top: 6px;
        text-align: @text-align-right;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

}

.row {

      &:first-child {
        margin: 0;
      }

    }


  /**----Tabs ----*/

  .tab-section {
    position: relative;
    float: @float-left;
    width: 100%;

    .top-tabs {
      background: rgba(0,0,0,0.4);
      margin-top: -56px;
      position: relative;
      z-index: 1;
    }

    .stars-box {
      span {
        display: inline-block;
        background: url(../images/star-black.png) no-repeat;
        width: 22px;
        height: 20px;
        margin-left: 4px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

  }

  .tab-section {
    ul.nav-tabs {
      text-align: center;
      border: 0;

      li {
        display: inline-block;
        float: @float-none;
        max-width: 285px;
        width: 100%;

        a {
          .corners(0);
          padding: 18px 0;
          display: block;
          .text;

          &:hover {
            background: @white;
            color: @main-color;
            border: 1px solid @white;
          }
        }
      }
      .active {
        a {
          color: @main-color;
          background: @white;
          border: 1px solid @white;
        }
      }

    }

    .tab-pane {
      padding: 85px 0;
    }

  }

  .one-dish {
    margin-bottom: 40px;

    p {
      font-family: @main-family-bold;
      line-height: @line-height-base;
      font-size: @font-size-large;
    }

    a {
      margin-bottom: 20px;
      display: block;
      position: relative;

      img {
        width: 100%;
      }

      .check-icon {
        background: url(../images/check.png) no-repeat;
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
      }


      .hide-dish {
        background: rgba(0,0,0,0.4);
        padding: 10px 17px;
        width: 100%;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
        .opacity(0);
        cursor: pointer;

        .star {
          background: url(../images/star.png) no-repeat;
          width: 17px;
          height: 16px;
          display: inline-block;
          margin-right: 3px;
        }

        .time-dish {
          color: @white;
          font-size: 16px;
          float: @float-right;
         font-family: @main-family-bold;

          display: inline-block;
        }
      }
      &:hover .hide-dish {
        .transition(0.2s, ease-out);
        .opacity(@opacity: 1);
      }
    }

    p {
      font-family: @main-family-bold;
      line-height: @line-height-base;
    }

  }


  .rating-black {
    text-align: center;
    float: none;

    img {
      width: auto;
    }
  }
  .recepten-section {
    position: relative;
    clear: both;
    float: none;


    h5 {
      font-size: 14px;
      display: inline-block;
      border: 1px solid #000;
      padding: 10px 30px;
      position: relative;
      background: @white;
      z-index: 10;
      margin: 0 auto;
      font-family: @main-family-bold;
    }

    .recepten-section-title {
      position: relative;
      text-align: center;
      margin-bottom: 70px;


      &:after {
        border-top: 1px solid #000;
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        top: 50%;
        content: " ";
      }
    }


  }

  .one-recepten-box {
    float: left;
    width: 50%;
    margin-bottom: 30px;

    &:first-child {
      margin-right: 2%;
      width: 48%;
    }

    .one-recepten {
      height: 100%;

      img {
        float: @float-left;
        width: 270px;
        position: relative;
        height: auto;
        z-index: 10;
      }

      .one-recepten-text {
        background: @orange;
        padding: 30px 30px 30px 30px;
        margin-left: 270px;
        position: relative;
        height: 100%;
        box-sizing: border-box;

        h4 {
          font-family: @main-family-bold;
          color: @white;
          font-size: @h4-size;
          margin-bottom: 0!important;
        }

        p {
          color: @white;
          font-size: @h4-size;
          line-height: 33px;
//          padding-bottom: 60px;
        }

        .more-link {
          position: absolute;
          right: 0;
          text-align: center;
          color: @white;
          font-family: @main-family-bold;
          bottom: 0;
          width: 100%;
          padding: 10px;
          background: @darkorange;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    &:first-child .one-recepten-text {
      background: @blue;

      .more-link {
        background: @darkblue;
      }

    }
  }

  .popular-section {
    background: @gray;
    padding: 40px 0;
    clear: both;

    h3 {
      font-family:'Miller-Text';
      font-size: 40px;

      b {
        font-family:'Miller-TextBold';
      }

    }
  }

  .big-image-box {
    margin-bottom: 30px;
    background: url(../uploads/imga.jpg) no-repeat;
    width: 100%;
    padding: 60px;
  }

  .recepe-one {
    background: @white;
    padding: 35px 50px;
    position: relative;
    max-width: 425px;
    text-align: @text-align-center;

    h6 {
      text-transform: uppercase;
      border-top: 1px solid @main-color;
      border-bottom: 1px solid  @main-color;
      display: inline-block;
      padding: 5px 0;
      font-size: 16px;

      font-family:'BentonSansComp-Bold';
    }

    h4 {
      font-size: @h4-36-size;
      color: @h4-36-color;
      line-height: 39px;
      text-align: center;
      padding: 10px 0 30px 0;
      font-family:'Miller-TextBold';
    }

  }
  .party-box {
    margin-bottom: 30px;
    text-align: @text-align-center;

    img {
      width: 100%;
    }

    .party-box-text {
      padding: 24px 20px 90px 20px;
      position: relative;


      .link {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        color: @white;
        padding: 10px 5px;
        font-family: @main-family-bold;

        &:hover {
          text-decoration: none;
        }
      }

      h4 {
        font-size: @h4-size;
        color: @white;
        font-family: @main-family-bold;
        padding-bottom: 10px;
      }

      p {
        color: @white;
        font-size: @h4-size;
      }

    }
    .red {
      background: @red;

      .link {
        background: @darkred;
      }
    }

    .orange {
      background: @orange;
      .link {
        background: @darkorange;
      }
    }

    .green {
      background: @green;

      .link {
        background: @darkgreen;
      }
    }

    .purple {
      background: @purple;

      .link {
        background: @darkpurple;
      }
    }

  }

  .product-line {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .one-product {
    background: #fff;
    padding: 7px;
    .box-shadow( 0 0 2px rgba(0,0,0,0.2));
    .corners(3px);

    .price {
      float: @float-right;
      padding: 10px 0;
    }

    img {
      width: 100%;
    }

    h4 {
      border: 3px solid #000;
      font-size: 11px;
      font-family: @main-family-bold;
      padding: 2px;
      text-align: @text-align-center;
      text-transform: uppercase;
    }

    h4.red {
      background: @product-title-background;
      color: @white;
      border-color: @white;
      .corners(3px);
      position: relative;
      .box-shadow(-1px 2px 1px #ababab);
    }

    h3 {
     font-family: @main-family-bold;
      color: @product-color;
      font-size:@font-size-base;
      text-align: @text-align-left;
      padding-bottom: 3px;
    }

    p {
      color: @product-color;
      font-size: @font-size-small;
    }

    .btn-product {
      background: @product-btn;
      padding: 11px 0;
      width: 100%;
      display: block;
      color: @white;
      font-family: @main-family-bold;
      clear: both;
      text-align: @text-align-center;
      .corners(5px);
      font-size: @product-btn-size;

      &:hover {
        text-decoration: none;
        background: @product-btn-hover;
      }
    }

  }

  .hot-box {

    .hot-box-img {
      position: relative;
      padding: 50px;
      margin-bottom: 23px;

      img {
        width: 100%;
      }

      h4 {
        background: @product-btn;
        color: @white;
        text-transform: uppercase;
        padding: 12px;
        font-family: @main-family-bold;
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: @product-h4-size;
      }

      .hot-price {
        position: absolute;
        right: 0;
        top: 0;
        display: block;

      }

    }

    p {
      .text();
      color: @main-color;
      padding-bottom: 70px;
    }

    .btn-hot-product {
      background: transparent;
      padding: 10px 0;
      font-size: @product-h4-size;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      color: @main-color;
      width: 100%;
      display: block;
      font-family: @main-family-bold;

      &:hover {
        text-decoration: none;
        color: @social-color;
      }


    }
  }


  .special-list {
    padding-top: 50px;
  }

  .one-recepten-box {

    .one-recepten-color {
      .one-recepten-text {
        .more-link  {
          text-align: right;
        }
      }
    }
    &:first-child  .one-recepten-color  .one-recepten-text {
      background: @hightgreen;

      .more-link {
        background: @darkgreen;
        &:hover {
          text-decoration: none;
          background: @darkgreen;
        }

      }

    }

    &:last-child  .one-recepten-color  .one-recepten-text {
      background: @hightblue;

      .more-link {
        background: @blue;
        &:hover {
          background: @blue;
          text-decoration: none;
        }

      }

    }
  }

  .tab-special {
    .tab-pane {
      padding: 0 0 30px 0;

      h3.title-page {
        font-family: @main-family-bold;
      }
    }

  }

  .other-box {
    position: relative;

    .half-one {
      img {
        width: 100%;
      }
    }
  }

  .half-tomato {
    background: url(../images/half-tomato.jpg) no-repeat;
    width: 132px;
    height: 253px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .de-tomato {
    padding-top: 50px;
    position: relative;


    .tomato {
      max-height: 450px;
    }

    .de-box {
      max-width: 498px;

      h2 {
        font-size: 72px;
        font-family: Miller-TextBold;
        font-weight: @bold;
        padding-bottom: 15px;
      }

      i {
        font-style: italic;
        font-size: 44px;
        padding-bottom: 20px;
        font-family: 'Miller-Text';
        vertical-align: sub;
      }

      p {
        font-size: 20px;
        font-family: 'Miller-Text';
        line-height: 32px;
        padding-bottom: 30px;
      }

      a {
        font-size: @main-size;
        color: @h4-36-color;
        font-family: @main-family-bold;
        text-decoration: none;
        border-bottom: 1px solid @social-color;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .olive-section {
    h6 {
      font-size: @font-size-base;
      color: @social-color;

    }

    .olive-inner {
      padding-top: 40px;
      padding-bottom: 40px;
      img {
        width: auto;
      }

      .olive-box {
        .olive-box-text {
          padding-left: 20px;

          .translate(@x:0, @y:-50%);
          position: relative;
          top: 50%;
          max-width: 450px;

          h3 {
            font-size: @h3-38-size;
            text-align: @text-align-left;
            padding-bottom: 10px;
            font-family: 'Miller-Text';
          }

          p {
            margin-bottom: 30px;
            font-size: 20px;
            line-height: 32px;
            font-family: 'Miller-Text';
          }

          a {
            font-size: @main-size;
            color: @h4-36-color;
            font-family: @main-family-bold;
            text-decoration: none;
            border-bottom: 1px solid @social-color;

            &:hover {
              text-decoration: none;
            }
          }

        }
      }
    }


  }


  /*---------------------------------FOOTER----------------------------------------- */

  .slider-logo {
    padding: 40px 0;

    img {
      width: auto;
      margin: 0 auto;
    }

    h5 {
      padding-bottom: 70px;
    }
  }

  .social-line {
    background: @footer-color;
    padding: 30px 0;
    text-align: @text-align-center;

    li {
      display: inline-block;
      padding: 0 20px;

      a .fa {
        color: @social-color;
        font-size: @social-size;
        .transition(0.2s,  ease-in);
        &:hover {
          color: @social-hover-color;
        }
      }
    }
  }

  .footer-menu {

    .container {
      border-top: @border-top;
      padding-top: 70px;
      padding-bottom: 100px;
    }

    .one-box {
      float: @float-left;
      width: 20%;

      h4 {
        font-size: @font-size-base;
        margin-bottom: 27px;
        font-family: @main-family-bold;
      }

      li {
        padding-bottom: 15px;
        a {
          color: @footer-menu-list-color;
        }
      }
    }

  }



  /*----------------------BS THEMA----------------------------*/



.home {
  .tab-section  {
    ul.nav-tabs {
      li {
        width: 33%;
      }
    }
  }
}
.padd-top {
   padding-top: 70px;
}
  .text-box {
    max-width: 770px;
    text-align: @text-align-center;
    margin: 200px auto 0;
    position: relative;


    h2 {
      font-size: @title-header;
      color: @white;
      font-family: 'Miller-TextBold';
    }
    p {
      font-size: @h4-size;
      color: @white;
    }
  }


  header .row {
    position: relative;
  }


  .sidebar-left {
    h5 {
      text-align: @text-align-left;
      .sidebar-title();
      padding-bottom: 12px;

    }

    p {
      font-size: @font-size-large;
      color: @black;
      padding-bottom: 0;
    }

    ul {
      li {
        border-bottom: 1px solid #000;

        &:first-child {
          border-top: 1px solid #000;
        }

        a {
          font-size: @main-size;
          padding: 16px 0;
          position: relative;
          display: block;
          color: @sidebar-link-color;

          &:hover {
            text-decoration: none;
            font-weight: @bold;
          }

          &:after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 0 7px 7px;
            content: " ";
            position: absolute;
            top: 18px;
            right: 10px;
            border-color: transparent transparent transparent @sidebar-link-color;;
          }

        }
      }
    }
  }

.bs-thema {
  .tab-section ul.nav-tabs li {
    max-width: 19%
  }


  .tab-section {
    border-bottom: 1px solid #000;
  }

  .marker {
    background: url(../images/mark.png) no-repeat;
    width: 252px;
    height: 251px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }


  .sidebar-left {
    h5 {
      padding-top: 150px ;
    }

  }
}



.one-block {
    position: relative;
    margin-bottom: 60px;

    .time-icon {
      position: absolute;
      top: 17px;
      right: 10px;
      display: block;
      background: url(../images/done-icon.png) no-repeat;
      width: 50px;
      height: 50px;
      z-index: 10;
    }

    img {
      margin-bottom: 20px;
      width: 100%;
    }
    a {
      font-family: @main-family-bold;
      font-size: @font-size-large;

      &:hover {
        text-decoration: @link-hover-decoration;
      }
    }
  }

  .all-link {
    font-size: @main-size;
    color: @main-color;

    i {
      font-size: 30px;
      margin-left: 16px;
      vertical-align: middle;
    }

    &:hover {
      color: @main-color;
      text-decoration: none;
    }
  }

  .slick-list {
    margin-bottom: 40px;
  }

  .slick-dots {
    bottom: -60px;
  }

  .height-auto {
    .half-block {
      width: 48%;
      height: 100%;
      margin-right: 5%;
      float: left;
    }

    .beer-box {
      float: left;
      width: 47%;
      min-height: 570px;
    }
  }
  .other-box {
    padding: 60px 0;
    clear: both;

    .height-auto {
      height: 100%;
    }
    .height-auto .col-lg-6 {
      height: 100%;
    }

   .height-half {
      padding-bottom: 20px;
    }

    .text-position {
      position: absolute;
      left: 0;
      bottom: 40px;
      width: 100%;
      text-align: @text-align-center;

      h3 {
        font-size: 34px;
        color: @white;
        font-family: @main-family-bold;
        padding-bottom: 10px;
      }

      p {
        font-size: @font-size-large;
        color: @white;
      }
    }

    .half-block {
      background: @magazine-background;
      padding: 25px;
      margin-bottom: 26px;
      position: relative;
      height: 100%;
      box-sizing: border-box;
      min-height: 570px;


      &:first-child {
        padding-top: 60px;
      }

      h4 {
        color: @white;
        font-size: @h4-size;
        font-family: @main-family-bold;
        padding-bottom: 20px;
      }

      p {
        font-size: @font-size-large;
        color: @white;
      }

      a {
        background: @darkmagazine-background;
        padding: 8px 24px;
        color: @white;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-weight: @bold;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .beer-box {
    background: @red;
    position: relative;
    height: 100%;
    box-sizing: border-box;


    img {
      width: 100%;
    }

    .beer-box-text {
      text-align:@text-align-center;
      padding: 28px 20px 68px 20px;

      h4 {
        font-family: @main-family-bold;
        color:@white;
        padding-bottom: 10px;
        font-size: @h4-size;
      }

      p {
        color:@white;
        font-size: @h4-size;
      }

    }

    a {
      background: @darkred;
      padding: 8px 24px;
      color: @white;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: @text-align-center;
      font-weight: @bold;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .grill-box {
    background: url(../images/bg-cow.jpg) no-repeat #fff;
    width: 100%;
    border: 1px dashed #000;
    padding: 50px 30px 75px 220px;
    margin-bottom: 20px;
    height: 100%;
    box-sizing: border-box;
    position: relative;

    .marker-dark {
      background: url(../images/bitmap.png) no-repeat;
      width: 166px;
      height: 166px;
      display: block;
      position: absolute;
      right: 28px;
      top: 18px;
    }

    h3 {
      font-size:  @h3-38-size;
      text-align: @text-align-left;
    }

    p {
      font-size: 20px;
      font-family:'Miller-Text';
      line-height: 32px;
    }

    a {
      font-family: @main-family-bold;
      color: @main-color;
      border-bottom: 1px solid #d7d7d7;

      &:hover {
        text-decoration: none;
        border: 0;
        color: @main-color;
      }
    }
  }
  
  
  .height-half {
    height: auto !important;

  }



  .additional-box {
    padding-top: 30px;
    padding-bottom: 30px;

    img {
      display: block;
      margin: 0 auto;
    }

    h6 {
      font-size: @font-size-small;
      color: @social-color;
    }
  }

  .box-hide {
    display: block;
    padding: 22px 0;
    background: @black;
    text-align: @text-align-center;

    p {
      color: @box-hide-color;
      font-size:  @main-size;
      font-family: @main-family-bold;
    }

    .close {
      color: @white;
      position: absolute;
      right: 30px;
      top: 20px;
      .opacity(1);
    }

  }

  .dotter-line {
    border-top: 1px dashed #000;
    margin: 30px 0;
  }

  .bs-mijn {

    .title-header {
      font-family: @main-family-bold;
    }

    .tab-section ul.nav-tabs li {
      max-width: 268px;
    }
  }

  .form-box {

    max-width: 670px;
    h3 {
      font-size: @h4-size;
      text-align: @text-align-left;
      padding-bottom: 20px;
      font-family: @main-family;
    }
    /* Placeholder Styling */
    ::-webkit-input-placeholder { color: @main-color; font-size: @font-size-large; .opacity(1); }
    ::-moz-placeholder { color: @main-color;  font-size: @font-size-large; .opacity(1); }
    ::-o-placeholder { color: @main-color;  font-size: @font-size-large; .opacity(1); }
    :-ms-input-placeholder { color: @main-color;   font-size: @font-size-large; .opacity(1); }
    input:-moz-placeholder { color: @main-color;  font-size: @font-size-large; .opacity(1);}

    p {
      font-size: @font-size-large;
      line-height: 32px;
    }
    form {
      p {
        margin-bottom: 30px;
      }

    }

    .error-input  {

      label {
        color: @red;
      }

      input {
        border: 1px solid @red;
      }
    }

  }
  .input-line {
    label {
      clear: both;
      font-size: @font-size-small;
      font-weight: normal;
      padding-bottom: 5px;
      display: block;
    }

    p  {

      a {
        text-decoration: @link-hover-decoration;
        font-size: @font-size-large;
      }
    }

    input {
      background: @gray;
      height: 46px;
      padding: 0 14px;
      width: 100%;
      font-size: @font-size-large;
      box-sizing: border-box;
      margin-bottom: 10px;
      border: 1px solid transparent;
    }
  }

  .input-line {
    .input-radio {
      label {
        display: inline-block;
        font-size: @font-size-large;
        padding-top: 10px;

        &:first-child {
          margin-right: 100px;
        }
      }
      input {
        float: @float-left;
        width: auto;
        height: auto;
        margin-right: 20px;
        margin-top: 9px;
      }
    }
  }


  .list-logos {
    padding-top: 30px;


    .logo-one {

      display: block;
      text-align: center;
      margin: 0 auto 40px;
      vertical-align: middle;
      position: relative;

      img {
        display: block;
        .translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: relative;
      }
    }

  }

  .checkbox-line {
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
    padding: 15px 0;
    margin-top: 30px;

    input {
      margin-right: 20px;
    }

    label {
      font-size: 20px;
      font-weight: normal;
    }
  }

  .btn-submit {
    background: @main-color;
    display: block;
    width: 100%;
    padding: 14px;
    color: @white;
    .corners(4px);
    margin-top: 30px;
    border: 0;
    text-align: @text-align-center;
    font-family: @main-family;
    font-size: @main-size;

    .transition(0.2s,ease-out);

    &:hover {
      .opacity(0.9);
      text-decoration: none;
      color: @white;
    }
  }

  .sidebar-right {
    max-width: 160px;
    float: right;
    width: 100%;
    text-align: @text-align-center;

    h6 {
      margin-bottom: 24px;
      font-size: @font-size-small;
      color: @social-color;
    }

    .gray-box {
      width: 100%;
      height: 600px;
      background: @gray;
    }
  }


  .title-tab {
    text-align: @text-align-left;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin: 0 0 47px 0;

    h3 {
      text-align: @text-align-left;
      font-size: @size-30;
      padding-bottom: 0;
      font-family: @main-family-bold;
    }
  }

  .select-custom {
    padding-top: 10px;

    b {
      padding-right: 28px;
      position: relative;
      top: 7px;
    }

    select {
      background: @white;
      border: 0;

    }

    .select-style {
      float: @float-right;
      margin-to1: -20px;
    }
    .select-style select:focus {
       outline: none;
    }

    .options, .placeholder {
      text-align: @text-align-left;
      font-size: @font-size-base;
    }
  }

  .title-page {
    font-size: @size-30;
    font-family: @main-family-bold;
    padding-bottom: 20px;
    text-align: @text-align-left;
  }

  .collapse-bootstrap .col-xs-12 {
    padding: 0;
  }


  .sidebar-one-text {
    position: relative;
    padding: 30px 30px 70px 30px;
    width: 100%;
    box-sizing: border-box;
    text-align: @text-align-center;

    p {
      color: @white;
      margin-bottom: 60px;
      font-size: 22px;
    }

    h4 {
      color: @white;
      margin-bottom: 0!important;
      font-size: 22px;
      font-family: @main-family-bold;
    }

    .more-link {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      color: @white;
      padding: 10px 5px;
      font-family: @main-family-bold;

      &:hover{
        text-decoration: none;
      }
    }

  }
  .red-box {
    .sidebar-one-text {
      background: @red;
    }

    .more-link {
      background: @darkred;

    }
  }

  .green-box {

    .sidebar-one-text {
      background: @green;
    }
    .more-link {
      background: @darkgreen;
    }
  }

  .sidebar-one-box {
    float: right;
    max-width: 271px;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }

  .article-box {
    background: @white;
    float: @float-right;
    padding: 50px 10px 30px 10px;
    max-width: 270px;
    box-sizing: border-box;
    text-align: @text-align-center;
    border: 1px dashed @black;


    img {
      margin-bottom: 50px;
    }

    p {
      margin-bottom: 50px;
      padding: 0 10px;
      font-size: @h4-size;
    }

    a {
      font-family: @main-family-bold;
      font-size: @main-size;
    }
  }


  .image-box {
    position: relative;

    .shadow-box {
      background: rgba(0,0,0,0.3);
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    img {
      width: 100%;
    }
  }

  .tab-special  {

    p {
      font-size: @font-size-large;
      margin-bottom: 30px;
    }
    h4 {
      font-size: @h4-size;
      margin-bottom: 30px;
      padding-bottom: 10px;

    }
  }


.modal-content {
  .corners(0);
}
.modal-dialog {
  margin-top: 20px;
  width: 100%;
}

#menuModal {

  .modal-body {
    padding: 0;
  }

  .modal-dialog {
    max-width: @modal-lg;
  }

}

#aanmelden, #inloggen {

  .modal-dialog {
    max-width: @modal-sm;
    margin: 0 auto;
  }

  .modal-body {
    padding: 60px 30px;
    p {
      a {
        font-size: @font-size-large;
        line-height: @line-height-base;
        text-decoration: none;
        border-bottom: 1px solid @social-color;


        &:hover {
          text-decoration: none;
          color: @color-dark;
          border: 0;
        }
      }
    }
  }
}


button.close {
  background: url(../images/close-black.png) no-repeat;
  width: 17px;
  height: 18px;
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
  .opacity(1);
}


.modal-body {
  position: relative;

  h5 {
    font-size: @size-30;
    font-family: @main-family-bold;
    padding-bottom: 26px;
    text-align: @text-align-left;
  }

  p {
    font-size: @font-size-large;
    color: @color-dark;
    line-height: @line-height-base;
  }

  form {
    padding-top: 40px;
  }

}



.top-print {
  border-bottom: 1px solid @black;
  padding: 34px 0 10px 0;
  text-align: @text-align-right;

  span {
    color: @main-color;
    font-family: @main-family;
    font-size: @main-size;
    height: 22px;
    display: inline-block;
    cursor: pointer;
    margin-right: 50px;
    padding-left: 30px;
  }

  .print-deel {
    background: url(../images/print2.png) no-repeat 0 100%;

  }

  .print {
    background: url(../images/print.png) no-repeat 0 100%;

  }



}

table + .top-print {
  border-top: 1px solid @black;
  margin-bottom: 90px;
}



.print-section {

  table {
    width: 100%;
  }

  .number-box {
    float: right;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
  .minus {
    background: @white;
    border: 1px solid #020202;
    .corners(4px 0 0 4px);
    padding: 2px 10px;
    height: 28px;
    float: @float-left;
  }

  .plus {
    background: @white;
    border: 1px solid #020202;
    .corners(0 4px 4px 0);
    padding: 2px 10px;
    height: 28px;
    float: @float-left;
  }

  .count {
    width: 78px !important;
    border: 0;
    text-align: @text-align-center;
    background: @gray;
    padding: 2px 10px;
    height: 28px;
    float: @float-left;
    border-top: 1px solid #020202;
    border-bottom: 1px solid #020202;
  }

  h5 {
    color: @social-color;
    font-size: @font-size-large;
  }

  th {
    padding: 14px 0;
  }

  td {
    padding: 14px 0;
    border-top: 1px dashed @black;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .spinner {
    width: 40px;
    position: absolute;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
  }

  .spinner:hover {
    background: lightgrey;
  }

  input[type="checkbox"] {
    margin-right: 10px;

    &:focus {
      outline: none;
    }
  }

  label {
    font-weight: normal;
  }
}

.plus-btn {
  background: url(../images/plus.png) no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.delete-icon {
  background: url(../images/delete.png) no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 3px;
}


.overzicht-section {
  .select-custom {
    padding-right: 15px;
  }
}
.top-title {
  background:  @white;
  margin-top: -60px;
  position: relative;
  float: left;
  z-index: 20;
  padding-top: 22px;
  text-align: @text-align-left;

  h5 {
    margin: 0 15px 30px 15px;
    padding-bottom: 14px;
    font-size: @font-size-large;
    text-align: @text-align-left;
  }

}

.one-over {
  margin-bottom: 30px;


  img {
    width: 100%;
  }
}
.one-over-text {
  background: @orange;
  padding: 30px;
  position: relative;


  h4 {
    font-size: @h4-size;
    font-family: @main-family-bold;
    padding-bottom: 10px;
    color: @white;
  }

  p {
    color: @white;
    font-size: @h4-size;
    margin-bottom: 80px;
  }

  .more-link {
    background: @darkorange;
    text-align: @text-align-right;
    color: @white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 20px 10px 5px;
    margin-right: 20px;
    font-family: @main-family-bold;

    &:hover {
      text-decoration: none;
    }
  }
}

.purple-box {

  .one-over-text {
    background: @purple;

    .more-link {
      background: @darkpurple;
    }
  }
}

.red-box {

  .one-over-text {
    background: @red;

    .more-link {
      background: @darkred;
    }
  }
}

.blue-box {

  .one-over-text {
    background: @blue;

    .more-link {
      background: @darkblue;
    }
  }
}


.green-box {

  .one-over-text {
    background: @green;

    .more-link {
      background: @darkgreen;
    }
  }
}

.black-box {

  .one-over-text {
    background: @hightblack;

    .more-link {
      background: @darkblack;
    }
  }
}


.hightblue-box {

  .one-over-text {
    background: @hightblue;

    .more-link {
      background: @hightbluedark;
    }
  }
}

.list-boxes {
  margin: 0 15px;
  border-bottom: 1px solid @main-color;

  h3 {
    font-size: @size-30;
    padding-bottom: 30px;
    font-family: @main-family-bold;
  }
}


.padd-30 {
  padding: 30px 0 0 0;
  clear: both;
}

.one-actuele {
  margin-bottom: 20px;


  img {
    float: left;
   }

  .one-over-text {
    max-width: 270px;
    float: right;
    height: 100%;
  }
}


.sidebar-recepten {

  .popover-box {
    .triangle-black {
      top: 64%;
    }
  }

  .sidebar-recepten-title {
    border-bottom: 1px dashed @black;
    padding-bottom: 20px;

    h5 {
      text-align: @text-align-left;
      font-family: @main-family-bold;
      font-size: @h4-size;
      float: @float-left;
    }
    .number-box {
      float: @float-right;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: none;
          color: @main-color;
        }
      }
    }
    .minus {
      background: @white;
      border: 1px solid #020202;
      .corners(4px 0 0 4px);
      padding: 2px 10px;
      height: 28px;
      float: left;
    }

    .plus {
      background: @white;
      border: 1px solid #020202;
      .corners(0 4px 4px 0);
      padding: 2px 10px;
      height: 28px;
      float: left;
    }

    .count {
      width: 78px !important;
      border: 0;
      text-align: center;
      background: @gray;
      padding: 2px 10px;
      height: 28px;
      float: left;
      border-top: 1px solid #020202;
      border-bottom: 1px solid #020202;
    }
  }


    ul + a {
      font-family: @main-family-bold;
      text-decoration: @link-hover-decoration;

      &:hover {
        color: @main-color;
        text-decoration: none;
      }
    }

    ul {
        padding-bottom: 20px;

        li {

          .plus-icon {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -8px;
            display: block;
            width: 16px;
            height: 14px;


            &:after {
              content: " +";
              position: absolute;
              top: 50%;
              margin-top: -14px;
              right: 5px;
              width: 16px;
              height: 14px;
            }

            &:hover:after {
              position: absolute;
              top: 50%;
              right: 5px;
              width: 16px;
              margin-top: -6px;
              height: 14px;
              background: url(../images/check-a.png) no-repeat;
              display: block;
              content: " ";
            }



          }





          > div {
            display: block;
            padding: 12px 0;
            position: relative;
            cursor: pointer;
            border-bottom: 1px dashed @black;
            color: @link-sidebar-color;


            &:hover {
              text-decoration: none;
              color: @link-sidebar-color;
              font-weight: @bold;
            }

         }

          .active {
            font-weight: @bold;


            .plus-icon {
              &:after {
                content: " ";
              }
            }
            &:hover:after {
              content: "";
            }
            &:after {
              position: absolute;
              top: 50%;
              right: 5px;
              background: url(../images/check-a.png) no-repeat;
              width: 16px;
              height: 14px;
              display: block;
              content: " ";
              margin-top: -6px;
            }
          }

        }
      }


  }


.sidebar-right-list {
  margin-right: 15px;
  padding-bottom: 60px;

  h5 {
    font-size: @font-size-large;
    font-family: @main-family-bold;
    color: @main-color;
    text-align: @text-align-left;
    border-bottom: 1px solid #000;
    padding-bottom: 17px;
  }


  .adder-btn {
    font-family: @main-family-bold;

    &:hover {
      text-decoration: @link-hover-decoration;
      color: @main-color;
    }
  }

  ul {
  padding-bottom: 20px;

    li {

      span {
        display: block;
        border-bottom: 1px solid #000;
        padding: 12px 0;
        position: relative;
        cursor: pointer;
        color: @link-sidebar-color;

        &:hover:after {
          content: " +";
          position: absolute;
          top: 50%;
          right: 5px;
          margin-top: -14px;
        }

        &:hover {
          text-decoration: none;
          color: @link-sidebar-color;
          font-weight: @bold;
        }

      }

      .active {
        font-weight: @bold;

        &:hover:after {
          content: "";
        }
        &:after {
          position: absolute;
          top: 20px;
          right: 5px;
          background: url(../images/check-a.png) no-repeat;
          width: 16px;
          height: 14px;
          display: block;
          content: " ";
        }
      }
  }
 }
}

.filter-line {

  padding-top: 17px;
  margin:  0 15px 50px 15px!important;
  padding-bottom: 17px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

  a {
      line-height: 26px;
      font-weight: @bold;
      cursor: pointer;

    &:hover, &:focus, &:active {
      text-decoration: none;
      color: @main-color;
    }
  }

  h5 {
    text-align: @text-align-left;

    span {
      background: url(../images/delete.png) no-repeat 0 100%;
      line-height: 26px;
      padding-left: 36px;
      display: inline-block;
      margin-left: 26px;
      cursor: pointer;
    }

  }

}

.with-filter {
  display: none;
}


.filter-show  {
  a {
    &:after {
      content: "+ Toon filters";
    }
  }

}
.filter-show.opened a:after {
  content: "- Verberg filters ";
}

/*--------------Starts Box----------*/

.stars-box  {
  text-align: center;
}

dl.star-rating  {
    ol {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 104px;
    height: 20px;
    position: relative;
    background: url(../images/star-grey.png);

    li {
      a {
        display: block;
        width: 21px;
        height: 20px;
        text-indent: -9999px;
        position: absolute;
        text-decoration: none;
        z-index: 10;
        margin-right: 5px;
        &:hover {
          background:  url(../images/star-black.png) left center;
          left: -3px;
          z-index: 2;
        }
      }
    }
  }
}

dl.star-rating a.star1 {
  left: 0;
}
dl.star-rating a.star1:hover {
  width: 20px;
  left: 0;
}
dl.star-rating a.star2 {
  left: 22px;
}
dl.star-rating a.star2:hover {
  width: 43px;
  left: 0;
}

dl.star-rating a.star3 {
  left: 43px;
}

dl.star-rating a.star3:hover {
    width: 65px;
    left: -1px;
}

dl.star-rating a.star4 {
  left: 63px;
}

dl.star-rating a.star4:hover {
 width: 85px;
  left: -1px;
}
dl.star-rating a.star5 {
  left: 83px;
}
dl.star-rating a.star5:hover {
  width: 110px;
}

.edit-btn {
  background: url(../images/edit-icon.png) no-repeat left top;
  padding-left: 40px;
  display: inline-block;
  height: 25px;
  line-height: 26px;
  position: relative;
  margin-right: 50px;
}

.deel-recept {
  background: url(../images/print.png) no-repeat left top;
  padding-left: 40px;
  display: inline-block;
  height: 25px;
  line-height: 26px;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
}

.print-recept {
  background: url(../images/print2.png) no-repeat left top;
  padding-left: 40px;
  display: inline-block;
  height: 25px;
  cursor: pointer;
  line-height: @line-height-base;
  position: relative;
}

.info-icon {
  margin-left: 10px;
  display: inline-block;
  background: url(../images/info.png) no-repeat;
  width: 20px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

.line-blocks {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;

  .line-blocks-link ,  .one-top-info {
    background: rgba(0,0,0,0.4);
    padding: 14px;
    display: inline-block;
    color: @white;
    height: 48px;
    position: relative;
    font-weight: @bold;
  }

  .one-top-info  {
    margin-left: 12px;
    margin-bottom: 12px;
    &:last-child {
      font-weight: normal;
    }
  }

  .line-blocks-link  {
    margin-left: 10px;
    padding-left: 30px;
    margin-bottom: 12px;
    line-height: 20px;
    color: rgba(255,255,255, 0.7);

    &:hover {
      text-decoration: none;
    }

    &:before {
      width: 0;
      height: 0;
      border-style: solid;
      content: " ";
      position: absolute;
      top: 20px;
      left: 14px;
      border-width: 5px 10px 5px 0;
      .opacity(0.7);
      border-color: transparent @white transparent transparent;

    }

  }

}


.recept-one-box {
  margin-bottom: 60px;
  margin-top: 70px;

  .edit-btn {
    cursor: pointer;
    margin-right: 60px;
  }

  .add-btn {
    background: url(../images/pls.png) no-repeat left top;
    padding-left: 30px;
    display: inline-block;
    line-height: 30px;
    margin-right: 50px;
    cursor: pointer;
  }


  .star-rating {
    float: @float-left;
    margin: 5px 40px 0 0;
  }

  .line-info {
    padding: 15px 0;
    border-top: 1px solid @black;
    border-bottom: 1px solid @black;

    div, span  {
      font-family: @main-family-bold;
    }
    
    dt {
      float: @float-left;
      margin-right: 10px;
    }

    dd {
      float: @float-left;
    }
  }

  h2 {
    font-size: @h2-size;
    text-align: @text-align-center;
    max-width: 920px;
    margin: 20px auto;
    font-weight: bold;
    font-family:'Miller-Display';
  }
}

.recept-one-box-down {
  clear: both;
  margin-top: 0!important;
}

.content-info {
  max-width: 680px;
    h3 {
      font-size: @size-30;
      font-family: @main-family-bold;
      text-align: @text-align-left;
      padding-bottom: 30px;
      margin: 0;
    }

    h4 {
      font-family: @main-family-bold;
      font-size: @font-size-large;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 50px;
    }

    ol.simple-list {
      list-style-type: none;
      list-style-type: decimal !ie; /*IE 7- hack*/
      margin: 0;
      padding: 0;
      counter-reset: li-counter;

      li {
        position: relative;
        margin-bottom: 20px;
        min-height: 3em;
        padding-bottom: 10px;
        font-size: @font-size-large;
        line-height: @line-height-base;
        text-indent: 34px;

        &:before {
          position: absolute;
          top: 6px;
          left: -34px;
          width: 0.8em;
          font-size: @font-size-large;
          line-height: 1;
          font-family: @main-family-bold;
          text-align: @text-align-right;
          color: #464646;
          content: counter(li-counter) ".";;
          counter-increment: li-counter;
        }
      }
    }

}

.short-info {
  background: @gray;
  padding: 25px;


  table {
  width: 100%;
    float: left;
    margin-right: 40px;
    max-width: 260px;
    margin-bottom: 30px;

    tr {
      border-bottom: 1px dashed #000;
      td {

        &:first-child {
          font-weight: @bold;
        }
        padding: 15px 0;
        &:last-child {
          text-align: right;
        }
      }
      th {
        padding-bottom: 15px;
        font-family: @main-family-bold;
        font-size: @font-size-large;
      }
    }

  }

  .tags {
    width: 48%;
    float: left;
    margin-bottom: 30px;

    .popover-box {
      display: none;
      z-index: 10;
    }

    h4 {
      font-family: @main-family-bold;
      font-size: @font-size-large;
      padding-bottom: 15px;
      margin-bottom: 0;
    }

   > div {
      background: #878787;
      padding: 10px 18px;
      color: @white;
      font-family: @main-family-bold;
      margin: 0 10px 10px 0;
      display: inline-block;
      position: relative;

      .info-icon {
        margin-left: 10px;
      }
    }
  }

  .result-text {
    width: 100%;
    clear: both;
    float: left;
  }
}

.sidebar-recepten-menu {
  padding-top: 60px;


  h5 {
    font-size: @h4-size;
    font-family: @main-family;
    text-align: @text-align-left;
    padding-bottom: 20px;
    border-bottom: 1px dashed #000;
  }

  ul {

 li {

    span {
      display: block;
      border-bottom: 1px dashed #000;
      padding: 12px 0;
      position: relative;
      cursor: pointer;
      color: @link-sidebar-color;

      &:hover {
        text-decoration: none;
        color: @link-sidebar-color;
        font-weight: @bold;
      }

    }
    }
  }
}


.popover-box {
  background: @main-color;
  padding: 50px 30px;
  width: 255px;
  box-sizing: border-box;
  .corners(2px);
  .box-shadow(0 0 3px #000);
  position: absolute;
  left: -276px;
  top: -180px;
  display: none;

  h4 {
    color: @white;
    padding-bottom: 20px;
    font-family: @main-family-bold;
    font-size: @main-size;
    margin-bottom: 0;
    line-height: 23px;

  }

    p {
      color: @white;
      font-size: @main-size;
      margin-bottom: 0;
      font-weight: normal;
      line-height: 23px;
    }

  button.close {
    color: @white;
    background: transparent;
    top: 15px;
  }
  a {
    color: @white;
    text-decoration:  @link-hover-decoration;

    &:hover {
      text-decoration: none;
    }
  }

  .triangle-black {
    height: 10px;
    width: 10px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-left: 20px solid @main-color;
    position: absolute;
    right: -20px;
    top: 51%;
    -webkit-filter: drop-shadow(0 -4px 2px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px -4px rgba(0,0,0,0.2));
    display: block;
  }
}




.sidebar-recepten {
  .popover-box {
    top: -205px;
    left: -320px;
  }
}
.icon-line {
  text-align: center;
  padding-bottom: 30px;

  span {
    display: inline-block;
    font-size: 20px;
    color: @main-color;
    margin-left: 34px;

    &:first-child {
      margin-left: 0;
    }
  }
  .person-icon {
    background: url(../images/people-icon.png)no-repeat left 6px;
    padding-left: 30px;
  }
  .sheff-icon {
    background: url(../images/sheff-icon.png)no-repeat left 6px;
    padding-left: 30px;
  }

  .clock-icon {
    background: url(../images/time.png)no-repeat left 6px;
    padding-left: 30px;
  }

  .cor-icon {
    background: url(../images/cor.png)no-repeat left 6px;
    padding-left: 30px;
  }

}


.bs-recepe .recepten-section {
  padding-bottom: 30px;
}

.sidebar-right-reviews {
  .rating {
    float: right;

  }
}
.one-reviews {
  border-bottom: 1px dashed @black;
  margin-bottom: 50px;
  
  .rating {
    float: right;

  }
}


.one-reviews-text {
  clear: both;
  float: none;

  p {
    clear: both;
    line-height: @line-height-base;
  }


  label {
    font-size: @font-size-small;
    font-weight: normal;
  }

  form {
    margin-top: 40px;

    textarea {
      width: 100%;
      background: @gray;
      border: 0;
      height: 272px;
      resize: none;
      padding: 13px;
    }
  }

  .date-box {
    font-family: @main-family-bold;
  }
}

.one-reviews-title {
  h4 {
    font-size: @h4-size;
    text-align: @text-align-left;
    float: @float-left;
    font-family: @main-family-bold;
  }

  .star-rating {
    float: @float-right;
  }


}

.star-rating {
  h5 {
    font-size: @main-family;
    font-family: @main-family-bold;
    float: @float-left;
    margin-right: 10px;
    padding-top: 5px;
  }

}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: @float-left;
}

.rating > span {
  display: inline-block;
  position: relative;
  background: url(../images/star-grey.png) no-repeat;
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: " ";
  position: absolute;
  background: url(../images/star-black.png) no-repeat;
  left: 0;
  width: 21px;
  height: 21px;
  top: 0;

}

.hide-menu {
  background: @white;
  padding: 28px 0;
  .corners(4px);
  opacity: 0;
  width: 270px;
  height: 246px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -40px;
  top: -276px;
  z-index: 1;
  visibility: hidden;
  .transition(0.6s,ease-out);


  button.close {
    top: 15px;
    right: 15px
  }

  h5 {
    font-family: @main-family-bold;
    text-align: @text-align-left;
    padding: 10px 20px;
  }

  .triangle {
    height: 10px;
    width: 10px;
    border-style: solid;
    position: absolute;
    left: 120px;
    top: 100%;
    display: block;

    &:after {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      background: @white;
      transform: rotate(45deg);
      top: -22px;
      left: -12px;
      z-index: 1;
      box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.8);
    }
  }

  ul {
    width: 100%;
    padding-bottom: 28px;
    position: relative;
    z-index: 2;
    background: @white;
    .corners( 0 0 4px 4px);

    li {
      border-bottom: 1px solid @main-color;
      text-align: @text-align-left;

      &:first-child {
        border-top: 1px solid @main-color;
      }

      a {
        color: @color-dark;
        padding: 12px 20px;
        font-family: @main-family;
        display: block;

        &:hover {
          background: @gray;
          text-decoration: none;
        }
      }


      .email-icon {
        background: url(../images/email.png) no-repeat;
        width: 15px;
        height: 19px;
        display: inline-block;
        margin-right: 14px;
      }
      i {
        margin-right: 14px;
        font-size: 19px;
      }
    }
  }
}

.deel-recept.active .hide-menu {
  opacity: 1;
  visibility: visible;
}

.lijstje {
  .title-header {
    font-family: @main-family-bold;
    font-size: 60px;
  }
}

#content {
  width: 30px;
}


.form-control::-ms-clear {
  display: none;
}


@import "sceens";