@media only screen and (max-width: 768px) {
  .one-product {
    max-width: 200px;
    margin: 0 auto 30px;
  }

  .lijstje  {
    .title-header {
      word-wrap: break-word;
    }
  }

    .one-actuele, .one-over {
      max-width: 270px;
      margin: 0 auto 30px;
    }

  .article-box {
    float: @float-left;
  }


  .article-box {
   width: 100%;
    img {
      width: 100%;
    }
  }


  .bs-artikel {
    .search-box {
        margin-top: 80px;
    }

    .title-header {
      line-height: 72px;
    }
  }


  .other-box {
    padding-top: 30px;
    padding-bottom: 20px;

    .image-box {
      margin-bottom: 30px;
    }

    .half-block , .beer-box {
      margin-bottom: 30px;
    }

  }

  .grill-box {
    padding-left: 30px;
    position: relative;
    
    * {
      position: relative;
      z-index: 10;
    }
    &:before {
       background: rgba(255,255,255, 0.4);
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }


  }
  .one-block {
    max-width: 270px;
    height: auto!important;
    margin: 0 auto 60px;
  }

  .tab-section {
    ul.nav-tabs {
      li {
        max-width: 32%;
      }
    }
  }

  .additional-box  {

    padding-top: 0;
    img {
      width: 100%;
    }
  }

  .bs-thema  {
    .sidebar-left {
      h5 {
        padding-top: 40px;
      }
    }
  }

  .other-box{
    .half-block, .beer-box {
      width: 100%;
      margin-right: 0;
    }
  }
  .half-one {
    margin-bottom: 30px;
  }

  .big-image-box {
    margin-top: 0;
  }

  .footer-menu  {
    .container {
      padding-bottom: 40px;

      .one-box {
        width: 50%;
        padding-left: 50px;
      }
    }
  }


  .menu-height {
    height: auto!important;
  }

  .hot-box {
    max-width: 210px;
    margin: 0 auto 23px;
  }

  .one-dish {
    max-width: 270px;
    height: auto!important;
    margin: 0 auto 40px;
  }

  .navbar-form {
    padding: 10px 16px;
    max-width: 620px;
    margin: 0 auto;
  }

  .search-box .input-group-btn {
    right: 50px;
  }

  .party-box {
    max-width: 270px;
    margin: 0 auto 30px;
    height: auto!important;
  }
  .one-recepten-box  {
    height: auto !important;

    .one-recepten {

      .one-recepten-text {
        text-align: left;
        clear: both;
        margin-left: 0;
      }

      img {
        width: 100%;
        height: auto;
        clear: both;
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .one-actuele {
    margin-bottom: 30px;
    height: auto!important;

    img {
      width: 100%;
      max-width: 270px;
    }
    .one-over-text {
      clear: both;
      float: none;
    }
  }
  .half-tomato {
    display: none;
  }

  .tomato {
    img {
      width: 100%;
    }
  }

}

@media only screen and (max-width: 980px) {

  .modal-dialog {
    width: auto;
  }

  .one-recepten {
    max-width: 270px;
    margin: 0 auto 30px;
  }


  .menu-sidebar  {
    .menu-sidebar-inner {
      float: none;
      margin: 0;
    }
  }

  .one-recepten-box  {
    .one-recepten  {

      img {
        width: 100%;
      }

      .one-recepten-text {
        margin-left: 0;
        clear: both;
        height: auto;
      }
    }
  }

  .logo {
    display: block;
    text-align: @text-align-center;

    img {
      margin: 0 auto 20px;
      display: block;
      text-align: center;
    }

  }

}


@media only screen and (min-width: 641px) and (max-width: 1024px) {



.one-recepten-box , .one-recepten-box:first-child {
     width: 100%;
    clear: both;
    margin-right: 0;
  }
  .recept-one-box {


    .star-rating {
      float: @float-none;
      text-align: @text-align-center;
      padding-bottom: 20px;

      h5 {
        float: @float-none;
        display: inline-block;
        padding-top: 2px;
        vertical-align: top;
      }

      .rating {
        float: @float-none;
        display: inline-block;
      }
    }

  }


  .header-right  {
    .top-search  {
      input[type="text"] {
        width: 350px;
      }
    }
  }

  .tags {
    .popover-box {
      left: 45px;

      .triangle-black {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 20px 0;
        border-color: transparent @main-color transparent transparent;
        right: 100%;

      }
    }
  }




  .logo {
    display: block;
    text-align: @text-align-center;

    img {
      margin: 0 auto;
      display: block;
      text-align: center;
    }

  }



  .other-box {
    .container {
      width: 100%;
    }

    .logo {
      display: block;
      text-align: @text-align-center;

      img {
        margin: 0 auto 20px;
        display: block;
        text-align: center;
      }

    }

    .hot-box {
      p {
        font-size: 12px;
      }
    }

    .slick-slide {
      img {
        margin: 0 auto;
      }
    }

    .tab-section {
      .tab-pane {
        padding-bottom: 0;
      }
    }

    .hot-box-img {
      .hot-price {
        img {
          width: 54%;
        }
      }
    }

    .hot-box {
      p {
        padding-bottom: 30px;
      }
    }

    .one-product {
      margin-bottom: 30px;
    }

  }

}

  /* min-width 641px */
  @media only screen and (min-width: 481px) and (max-width: 680px) {

    .header-right {
      margin-right: 0;
    }

    .top-bar,
    .login-form,
    .top-search {
      clear: both;
    }

    .header-right {
      position: relative;
      float: none;

      .top-search {
        float: none;
        margin-right: 0;
        position: absolute;
        left: 0;
        margin-top: 0;
        z-index: 12;

        input[type="text"] {
          left: 0;
          z-index: 15;
          width: 378px;
          padding: 0 10px 0 112px;
        }

        button {
          padding: 0 0 0 10px;
        }
      }

      .active {
        z-index: 16;
      }

      .login-form {
        float: none;
        text-align: center;
        max-width: 240px;
        margin: 0 auto;
        z-index: 14;
      }

      .top-bar {
        position: absolute;
        right: 0;
        top: 2px;
        margin-right: 15px;
      }
    }

  }


@media only screen and (max-width: 580px) {

  .one-recepten-box ,   .one-recepten-box:first-child {

    width: 100%;
    clear: both;
    margin-right: 0;

    p {
      padding-bottom: 50px;
    }

  }

}
  @media only screen and (max-width: 480px) {

    .menu-height {

      h3 {
        float:@float-left;
      }
      .btn-submit {
        clear: both;
        float:@float-left;
      }
    }

    .tab-section {
      .sidebar-left {
        li {
          background: transparent;
        }
      }
    }
    .bs-thema {
      .tab-section {
        ul.nav-tabs {
          li {
            max-width: 100%;

          }
        }
      }
      .marker {
          display: none;
      }

      .text-box {
          margin-top: 60px;
      }
    }
    .box-hide {
      p {
        padding: 0 40px;
      }
    }

    .menu-height {
      height: auto !important;
    }

    .modal-dialog {
      margin: 0;
    }

    .top-menu {
      .logo {
        text-align: @text-align-left;
        float: @float-left;
      }
    }

    .top-menu-content {
      padding-left: 0;
    }

    .list-box {
      height: auto !important;
    }

    .top-menu-content {
      .title-box {
        .btn-submit {
          float: @float-none;
        }
      }

      .party-box {
        float: @float-left;
      }
    }

    .search-box {
      margin-top: 50px;
    }

    .tab-section {
      .top-tabs {
        background: transparent;
      }

      li {
        background: @social-color;

        a {
          margin-right: 0 !important;
        }
      }

    }

    .tab-section {
      background: @white;
    }

    .tab-section ul.nav-tabs li {
      width: 100%;
      max-width: 100%;
    }

    .header-right {

      position: relative;
      float: none;
      margin-right: 0;

      .login-form {
        clear: both;
      }

      .top-search {
        float: right;
        margin-right: 0;
        position: relative;
        left: 0;
        margin-top: 0;
        padding-bottom: 10px;

        button {
          padding: 0;
        }
        input[type="text"] {
          width: 282px;
        }
      }

      .login-form {
        float: @float-right;
        text-align: center;
        max-width: 240px;
        margin: 0 auto 10px;

        .hide-login {
          top: 42px;
          left: -72px;
        }
      }

      .top-bar {
        position: relative;
        float: @float-right;
        margin-right: 15px;
        clear: both;
      }
    }

    .footer-menu {
      .container {
        .one-box {
          padding-left: 0;
        }
      }
    }

    .one-recepten-box {
      width: 100%;
      max-width: 270px;
      margin: 0 auto;
      float: @float-none;

      &:first-child {
        width: 100%;
        max-width: 270px;
        margin: 0 auto;
      }

    }

    .big-image-box {
      padding: 30px;
    }

    .social-line {
      li {
        padding: 0 7px;
      }
    }

    .home {
      .tab-section {

        ul.nav-tabs {
          li {
            width: 100%;
          }
        }
      }

    }

    .search-box {
      .title-header {
        font-size: 44px;
      }
    }

    .menu-sidebar {
      padding-top: 50px;
    }
  }

  @media only screen and (max-width: 320px) {
    .slick-slide {
      img {
        width: auto;
      }
    }

    .one-recepten-box {
      margin-bottom: 30px;
    }

    .slick-slide {
      img {
        width: 100%;
      }
    }

    .recepe-one {
      padding: 35px 20px;
      h4 {
        font-size: 18px;
        line-height: 20px;
      }
    }

    .popular-section {
      h3 {
        font-size: 34px;
      }
    }

    .tab-pane > h3 {
      font-size: 34px;
    }

    .footer-menu {
      .container {
        .one-box {
          padding-left: 0;
          width: 100%;
        }
      }

    }
  }

  @media only screen and (max-width: 320px) {


    .slick-slide {
      img {
        width: auto;
      }
    }
  .search-box  {
    .title-header {
      font-size: 44px;
    }
  }
  .header-right  {
    .top-search {
      button {
        font-size: 0;
      }
      input[type="text"] {
        width: 262px;
      }

  .header-right {
    .login-form {
      .hide-login {
        left: -70px
      }
    }
  }
  } }

}