// Add variables here

/*---------------------OTHER STYLES-----------------------------------------*/


@font-face {
  font-family:'BentonSans-Regular';
  src: url('../fonts/BentonSans-Regular_gdi.eot');
  src: url('../fonts/BentonSans-Regular_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BentonSans-Regular_gdi.woff') format('woff'),
  url('../fonts/BentonSans-Regular_gdi.ttf') format('truetype'),
  url('../fonts/BentonSans-Regular_gdi.otf') format('opentype'),
  url('../fonts/BentonSans-Regular_gdi.svg#BentonSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-221A;
}


@font-face {
  font-family:'glyphicons-halflings-regular';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../fonts/glyphicons-halflings-regular.otf') format('opentype'),
  url('../fonts/glyphicons-halflings-regular.svg#BentonSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-221A;
}



@font-face {
  font-family:'Miller-TextBold';
  src: url('../fonts/Miller-TextBold_gdi.eot');
  src: url('../fonts/Miller-TextBold_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Miller-TextBold_gdi.woff') format('woff'),
  url('../fonts/Miller-TextBold_gdi.ttf') format('truetype'),
  url('../fonts/Miller-TextBold_gdi.otf') format('opentype'),
  url('../fonts/Miller-TextBold_gdi.svg#Miller-TextBold') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family:'BentonSansComp-Bold';
  src: url('../fonts/BentonSansComp-Bold_gdi.eot');
  src: url('../fonts/BentonSansComp-Bold_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BentonSansComp-Bold_gdi.woff') format('woff'),
  url('../fonts/BentonSansComp-Bold_gdi.ttf') format('truetype'),
  url('../fonts/BentonSansComp-Bold_gdi.otf') format('opentype'),
  url('../fonts/BentonSansComp-Bold_gdi.svg#BentonSansComp-Bold') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-221A;
}


@font-face {
  font-family:'BentonSans-Bold';
  src: url('../fonts/BentonSans-Bold_gdi.eot');
  src: url('../fonts/BentonSans-Bold_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BentonSans-Bold_gdi.woff') format('woff'),
  url('../fonts/BentonSans-Bold_gdi.ttf') format('truetype'),
  url('../fonts/BentonSans-Bold_gdi.otf') format('opentype'),
  url('../fonts/BentonSans-Bold_gdi.svg#BentonSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}


@font-face {
  font-family:'Miller-TextBold';
  src: url('../fonts/Miller-TextBold_gdi.eot');
  src: url('../fonts/Miller-TextBold_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Miller-TextBold_gdi.woff') format('woff'),
  url('../fonts/Miller-TextBold_gdi.ttf') format('truetype'),
  url('../fonts/Miller-TextBold_gdi.otf') format('opentype'),
  url('../fonts/Miller-TextBold_gdi.svg#Miller-TextBold') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family:'Miller-Display';
  src: url('../fonts/Miller-Display_gdi.eot');
  src: url('../fonts/Miller-Display_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Miller-Display_gdi.woff') format('woff'),
  url('../fonts/Miller-Display_gdi.ttf') format('truetype'),
  url('../fonts/Miller-Display_gdi.otf') format('opentype'),
  url('../fonts/Miller-Display_gdi.svg#Miller-Display') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2260;
}

@font-face {
  font-family:'Miller-Text';
  src: url('../fonts/Miller-Text_gdi.eot');
  src: url('../fonts/Miller-Text_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Miller-Text_gdi.woff') format('woff'),
  url('../fonts/Miller-Text_gdi.ttf') format('truetype'),
  url('../fonts/Miller-Text_gdi.otf') format('opentype'),
  url('../fonts/Miller-Text_gdi.svg#Miller-Text') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

//Modals

@modal-lg : 1498px;
@modal-sm: 430px;

@main-family-bold: 'BentonSans-Bold';
@black: #000;


@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px
@line-height-base:        27px;

@magazine-background: #383838;
@darkmagazine-background: #2d2d2d;
@box-hide-color: #666666;

@color-dark: #202020;
@logo: #000000;
@header-color: #ffffff;
@footer-color: #222222;
@text-align-center: center;
@text-align-left: left;
@text-align-right: right;
@social-color: #999999;
@social-size: 20px;
@social-hover-color: #ffffff;

@footer-menu-list-color: #8c8c8c;
@float-left: left;
@float-right: right;
@float-none: none;


@bold: bold;
@border-top: 1px solid #000;
@main-color: #222222;
@main-size : 14px;
@main-family: 'BentonSans-Regular';
@h2-size: 60px;
@h2-color: #ffffff;
@h3-size: 48px;
@h4-size: 22px;
@h4-36-size: 36px;
@h3-38-size: 38px;
@h4-36-color: #212121;
@size-30: 30px;
@link-hover-decoration: underline;


@link-sidebar-color: #212121;
@white: #ffffff;
.text() {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  font-family: 'BentonSans-Regular';
}

@product-h3-size: 14px;
@product-h4-size: 12px;
@product-title-background: #e94e4d;
@product-btn: #9db019;
@product-btn-hover: #007256;
@product-btn-size: 12px;
@product-color: #007855;
@blue: #197897;
@darkblue: #146079;
@hightblue: #00a3d9;
@hightbluedark: #148ab1;
@orange: #ff8c19;
@darkorange: #cc7014;
@gray: #f5f5f5;
@red: #ff3b3b;
@darkred: #cc2f2f;
@green: #19ba69;
@hightgreen: #00b259;
@darkgreen: #149554;
@purple: #7b19dd;
@darkpurple: #6214b1;
@hightblack: #383838;
@darkblack: #2d2d2d;
@title-header: 60px;
@sidebar-link-color: #212121;
.sidebar-title() {
  font-size: 26px;
  color: #000;
  padding-top: 100px;
}

.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}

.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  -o-transition-duration: @duration;
  transition-duration: @duration;
}

.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

.rotation(@deg:5deg){
  .transform(rotate(@deg));
}

.scale(@ratio:1.5){
  .transform(scale(@ratio));
}

.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}

.translate(@x:0, @y:0) {
  .transform(translate(@x, @y));
}

.corners (@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}


